<ol>
  {{#each item in currentSelection}}
    <li>{{item.itemData.name}} <button type="button" {{ action "removeItem" item }}>Delete</button></li>
  {{/each}}
</ol>

<div class='wy-tag-input-group'>

  <span class="current-selection">{{#each item in currentSelection}}<span class="wy-tag">{{item.itemData.name}}{{#unless control.disabled}}<a href="" class="wy-tag-remove" {{action "removeItem" item}}></a>{{/unless}}</span>{{/each}}</span>

  {{#if showAutocomplete}}
    <div class="wy-autocomplete-group">
      <label class="icon icon-search"></label>

      {{view "auto-complete" placeholder="Search" filter=control.meta.contentTypeId value=autocompleteValue}}

      {{#if isLoading}}
        <span class="wy-spinner wy-spinner-small wy-spinner-inline"></span>
      {{/if}}

      {{#collection "autocomplete-results" content=results}}
        {{{name}}}
      {{/collection}}

    </div>
  {{/if}}

</div>
