{{#unless control.disabled}}
  {{input type="url" value=url disabled=isFetching action="getEmbed"}}

  <button type="button" class="btn btn-neutral btn-small icon icon-cloud-download" {{action "getEmbed"}} {{bind-attr disabled=isFetching}}> {{t 'form.control.embedly.action'}} {{#if isFetching}}<span class="wy-spinner"></span>{{/if}}</button>
{{/unless}}

{{#if hasValue}}

  {{#if showPreview}}
    <button type="button" class="btn btn-small btn-link icon icon-code" {{action "togglePreview"}}> JSON</button>
  {{/if}}

  {{#if showCode}}
    <button type="button" class="btn btn-small btn-link icon icon-eye-open" {{action "togglePreview"}}> {{t 'form.control.embedly.preview'}}</button>
  {{/if}}

  {{#unless control.disabled}}<button type="button" class="btn btn-link btn-small" {{action "clearValue"}}> {{t 'form.control.embedly.clear'}}</button>{{/unless}}

  <div {{bind-attr class=":wh-embedly-content control.value.type"}}>
    {{#if showPreview}}
      {{#if isVisual}}
        <div class="wh-video-wrap">
          <div class="preview wh-video">{{{previewValue}}}</div>
        </div>
      {{else}}
        <div class="preview">{{{previewValue}}}</div>
      {{/if}}
    {{/if}}

    {{#if showCode}}
      <pre class="hljs">{{dataString}}</pre>
    {{/if}}
  </div>

{{/if}}
