{{input value=url disabled=isFetching action="getEmbed"}}

<button type="button" class="btn btn-neutral btn-small icon icon-file-plus" {{action "getEmbed"}} {{bind-attr disabled=isFetching}}> Fetch {{#if isFetching}}<span class="wy-spinner"></span>{{/if}}</button>

{{#if dataString}}
  <button type="button" class="btn btn-neutral btn-small icon icon-code" {{action "togglePreview"}}> Preview</button>
  <button type="button" class="btn btn-neutral btn-small" {{action "clearValue"}}> Clear</button>
{{/if}}

<div class="preview" {{bind-attr style="previewStyle"}}></div>

{{#if showCode}}
  <pre class="hljs">{{dataString}}</pre>
{{/if}}
