{{#unless view.isInstructionWidget}}

{{partial 'widgets/common/label'}}
<div class="wy-control">

  {{!-- Grid widget help is above the control. --}}
  {{#if view.isGridWidget}}
    {{partial 'widgets/common/help'}}
  {{/if}}

  {{partial view.content.controlType.controlPartialPath}}

  {{!-- All other widgets have the help below. --}}
  {{#unless view.isGridWidget}}
    {{partial 'widgets/common/help'}}
  {{/unless}}

  {{#if view.content.widgetErrors}}
    <ul>
      {{#each view.content.widgetErrors}}
        <li><span class="wy-form-message">{{this}}</span></li>
      {{/each}}
    </ul>
  {{/if}}

</div>

{{else}}

<div class="wy-control">
  {{partial view.content.controlType.controlPartialPath}}
</div>

{{/unless}}

{{!-- we only set `doEdit` on the formbuilder --}}
<div class="disabled"></div>
