<div class="wy-control-group-file">

  <div {{ bind-attr class=":wy-form-upload-container wantUploadButton:on" }}>
    <div class="wy-form-upload">
      <div class="wy-form-upload-content">
        <button type="button" class="btn btn-neutral icon icon-image"> Drag or select images</button>
        <div class="image-loading btn btn-info">
          <div class="wy-spinner"></div>
          <span></span>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-link btn-small upload-method-toggle" {{action "toggleMethod"}}>or use a URL?</button>
  </div>

  <div {{ bind-attr class=":wy-form-upload-url :wy-input-prefix wantUrlInput:on" }}>
    <span class="wy-input-context">Paste URL <span class="icon icon-arrow-right"></span></span><input type="text">
    <button type="button" class="btn btn-neutral btn-small upload-url">Upload</button>
    <button type="button" class="btn btn-small btn-link upload-method-toggle wy-text-danger icon icon-remove-sign" {{action "toggleMethod"}}> Cancel</button>
  </div>

</div>

{{#if control.value}}
  <p class="wy-form-gallery-instructions icon icon-circle-blank"> Circled images have captions. Click to edit an individual image. Drag to sort.</p>
  {{#view 'gallery' items=items images=control.value}}
  {{#each item in items}}
    <li {{bind-attr class="item.progress:loading item.image.caption:captioned"}}>
      {{#if item.editing}}
        <div class="wy-form-gallery-edit">
          <div class="wy-form-gallery-edit-img">{{resize-image item.image.url width="200" height="200"}}</div>
          {{textarea value=item.image.caption placeholder="caption"}}
          <button type="button" class="btn btn-link btn-small icon icon-remove-sign" {{action "removeImage" item}}> Delete</button>
          <button type="button" class="btn btn-small btn-info icon icon-ok-sign" {{action "closeEdit" item}}> Save / close</button>
          <span class="triangle"></span>
        </div>
      {{/if}}
      {{#if item.image.url}}
        <a {{action 'editImage' item bubbles=false}}>{{resize-image item.image.url width="30" height="30" crop="true"}}</a>
      {{else}}
        <span class="progress">{{item.progress}}</span>
      {{/if}}
    </li>
  {{/each}}
  {{/view}}
{{/if}}
