<div class="wy-form-upload-container">
  <div class="wy-form-upload">
    <div class="wy-form-upload-content">
      <button type="button" class="btn btn-neutral icon icon-image"> Drag or select images</button>
      <div class="image-loading btn btn-info">
        <div class="wy-spinner"></div>
        <span></span>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-link btn-small upload-method-toggle">or use a URL?</button>
</div>

<div class="wy-form-upload-url wy-input-prefix">
  <span class="wy-input-context">Paste URL <span class="icon icon-arrow-right"></span></span><input type="text">
  <button type="button" class="btn btn-neutral btn-small upload-url">Upload</button>
  <button type="button" class="btn btn-small btn-link upload-method-toggle wy-text-danger icon icon-remove-sign"> Cancel</button>
</div>

{{#if control.value}}
  <ul class="wy-form-gallery">
  {{#each item in items}}
    <li>
      {{#if item.editing}}
        <div class="wy-form-gallery-edit">
          <div class="wy-form-gallery-edit-img">{{resize-image item.image.url width="300" height="300"}}</div>
          {{textarea value=item.image.caption}}
          <button type="button" class="btn btn-small" {{action "closeEdit" item}}>Save/Close</button>
          <button type="button" class="btn btn-small icon icon-remove-sign" {{action 'removeImage' item.image}}>Remove</button>
        </div>
      {{/if}}
      <a {{action 'editImage' item}}>{{resize-image item.image.url width="30" height="30" crop="true"}}</a>
      {{caption}}
      <span class="icon icon-remove-sign" {{action 'removeImage' item}}></span>
    </li>
  {{/each}}
  </ul>
{{/if}}
