{{#if control.isInFormbuilder}}

  <div class="wh-grid-item active">
    <div class="wh-grid-value">
      <span class="icon icon-ellipsis-v"></span>
      <span class="wh-grid-num">0</span>
      <span class="wh-grid-value-name">{{t 'form.control.grid.valueName'}}</span>
    </div>
    <div class="wh-grid-form">
      {{#unless control.controls}}
        <div class="wh-form-builder-empty">
          <h2>{{t 'form.control.grid.emptyTitle'}}</h2>
          <p>{{t 'form.control.grid.emptyDesc'}}</p>
        </div>
      {{/unless}}
      {{view "formbuilder-grid" model=control controller=formController}}
    </div>
  </div>

{{else}}

  {{view "grid-rows" gridControl=control}}

  {{#if control.isPlaceholder}}
    <div style="position: absolute; height: 100%; width: 100%; background: rgba(0, 255, 0, 0.5); top: 0; left: 0;">
      <button type="button" class="btn btn-neutral" {{ action "removePlaceholderState" }}>Remove Placeholder State</button>
    </div>
  {{/if}}

{{/if}}
