{{#if control.isInFormbuilder}}

  <button type="button" {{ action 'addControl' 'textfield' }}>Add textfield</button>
  <button type="button" {{ action 'addControl' 'image' }}>Add image</button>

  {{collection "formbuilder" content=control.controls}}

{{else}}

  <div>
    {{#each rowValues in control.value}}
      {{#each rowControl in control.controls}}
        {{view 'grid-widget' rowControl=rowControl contentType=type values=rowValues gridControl=control}}
      {{/each}}
      <button type="button" {{ action 'removeRow' rowValues }}>Remove above row</button>
      <hr>
    {{/each}}
  </div>

  <button type="button" {{ action 'addRow' }}>Add row</button>

{{/if}}
