{{#if control.isInFormbuilder}}

  <div class="wh-grid-item active">
    <div class="wh-grid-value">
      <span class="icon icon-ellipsis-v"></span>
      <span class="wh-grid-num">1</span>
      <span class="wh-grid-value-name">{{t 'form.control.grid.valueName'}}</span>
    </div>
    <div class="wh-grid-form">
      {{#unless control.controls}}
        <div class="wh-form-builder-empty">
          <h2>Drag elements into this repeatable form</h2>
          <p>{{t 'form.control.grid.emptyDesc'}}</p>
        </div>
      {{/unless}}
      {{view "formbuilder-grid" model=control controller=formController}}
    </div>
  </div>

{{else}}

  {{view "grid-rows" gridControl=control}}

{{/if}}
