<div class="wy-control-group-file">

  <div {{ bind-attr class=":wy-form-upload-container wantUploadButton:on" }}>
    <div class="wy-form-upload">

      {{#if hasPreview}}
        <div class="wy-form-upload-image">
          {{#if control.value.resize_url}}
            {{resize-image control.value size="75"}}
          {{else}}
            <img {{ bind-attr src=tempUrl }}>
          {{/if}}
        </div>
      {{/if}}

      <div class="wy-form-upload-content">
        <button type="button" class="btn btn-neutral icon icon-image"> Drag or select image</button>
        <div class="image-loading btn btn-info">
          <div class="wy-spinner"></div>
          <span></span>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-link btn-small upload-method-toggle" {{action "toggleMethod"}}>or use a URL?</button>

    {{#if control.value.url}}
      <button type="button" class="btn btn-link btn-small icon wy-text-danger icon-remove-sign" {{action "clear"}}> Remove</button>
    {{/if}}
  </div>

  <div {{ bind-attr class=":wy-form-upload-url :wy-input-prefix wantUrlInput:on" }}>
    <span class="wy-input-context">Paste URL <span class="icon icon-arrow-right"></span></span><input type="text">
    <button type="button" class="btn btn-neutral btn-small upload-url">Upload</button>
    <button type="button" class="btn btn-small btn-link upload-method-toggle wy-text-danger icon icon-remove-sign" {{action "toggleMethod"}}> Cancel</button>
  </div>

</div>
