<section class="wh-content-edit">
  <button class="btn btn-neutral icon icon-eye-open float-right"> Preview</button>
  <h1>Editing {{id}}</h1>
  <hr/>

  <p>Created: {{createDate}}. Last updated: {{lastUpdated}}</p>

  {{#view 'item-form'}}
    <fieldset>
      {{#each control in type.controls}}
        {{#unless control.hidden}}
          {{formbuilder-widget control=control session=session}}
        {{/unless}}
      {{/each}}
      <div class="wy-btn-group">
        <button type="submit" class="btn btn-neutral icon icon-ok-sign"> Save</button>
      </div>
      {{#if saved}}{{saved}}{{/if}}
    </fieldset>
  {{/view}}
</section>
