<section class="wh-content-head">
  {{#if fullPreviewUrl }}
    {{#unless type.oneOff}}
    <a target="_blank" {{ bind-attr href="fullPreviewUrl" }} class="btn icon icon-eye-open btn-preview btn-small btn-info"> Preview</a>
    {{/unless}}
  {{/if}}
  <h1>{{#if itemModel}}Edit{{else}}New{{/if}} {{type.name}}{{#unless type.oneOff}} &raquo; {{nameControl.value}}{{/unless}}</h1>
</section>
{{#if itemModel}}
  <section class="wh-content-subhead">
    <span class="wh-item-publish-time-section">{{#if createDate}}Created on <span>{{format-time createDate format="MMM Do, YYYY."}}</span>{{/if}}</span>
    <span class="wh-item-publish-time-section">{{#if lastUpdated}}Last updated on <span>{{format-time lastUpdated format="MMM Do, YYYY. h:mm A"}}</span>{{/if}}</span>
    {{#if type.canDelete}}<a class="icon icon-trash wy-text-danger" {{action "deleteItem" itemModel}}> Delete</a>{{/if}}
  </section>
{{/if}}
<section class="wh-content-edit">

  <div {{bind-attr class="isNameAndSlugValid::wy-control-group-error :wy-control-group :wy-control-group-required :wh-slug"}}>
    <label>Name</label>
    <div class="wy-control">
      <span class="wy-form-message">{{to-markdown nameControl.help}}</span>
      {{#if nameControl.placeholder}}
        {{input class="big-name" placeholder=nameControl.placeholder value=nameControl.value autofocus="true" disabled=nameControl.disabled}}
      {{else}}
        {{input class="big-name" placeholder="Fill me in!" value=nameControl.value autofocus="true" disabled=nameControl.disabled}}
      {{/if}}

      {{#if nameControl.widgetErrors}}
        <ul>
          {{#each nameControl.widgetErrors}}
            <li><span class="wy-form-message">{{this}}</span></li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if showSlug}}

        {{#if isEditingSlug}}
          <span class="wy-form-message">This page will live at /{{input value=slugControl.value placeholder=defaultSlug focus-out="forceSlug"}}/ <span class="icon icon-ok-sign" {{action "editSlug"}}></span></span>
        {{else}}
          {{#if slugControl.disabled}}
            <span class="wy-form-message">This page will live at /{{#if slugControl.value}}{{slugControl.value}}{{else}}{{defaultSlug}}{{/if}}/</span>
          {{else}}
            <span class="wy-form-message">This page will live at <a href="#" {{action "editSlug"}}>/{{#if slugControl.value}}{{slugControl.value}}{{else}}{{defaultSlug}}{{/if}}/ <span class="icon icon-pencil"></span></a></span>
          {{/if}}
        {{/if}}

        {{#if slugControl.widgetErrors}}
          <ul>
            {{#each slugControl.widgetErrors}}
              <li><span class="wy-form-message">{{this}}</span></li>
            {{/each}}
          </ul>
        {{/if}}

      {{/if}}

       {{#if nameControl.help }}
        <ul>
          <li><span class="wy-form-message">{{to-markdown nameControl.help}}</span></li>
        </ul>
      {{/if}}

    </div>
  </div>

  {{#view 'item-form'}}
    <fieldset>
      {{#each control in type.controls}}
        {{#unless control.hidden}}
          {{view 'widget' content=control contentType=type}}
        {{/unless}}
      {{/each}}
    </fieldset>
  {{/view}}
</section>

<div class="wh-save-item">
  {{#if type.oneOff}}

    {{#if type.canPublish}}
      <div class="wy-btn-group">
        <button type="button" class="btn btn-small btn-success icon icon-ok-sign" {{action "saveItem"}}> Save</button>
      </div>
    {{/if}}

  {{else}}

    {{#if isDraft}}

      {{#if type.canDraft}}


        <div class="wy-btn-group">
          {{#if type.canPublish}}
            <div class="wy-dropdown wy-dropdown-bubble wy-dropdown-up">
              <button type="button" class="btn btn-small btn-info icon icon-ok-sign"> Save... <span class="icon icon-caret-up"></span></button>
              <dl class="wy-dropdown-menu">
                <dd><a {{action "saveDraft"}}>Save it as a draft</a></dd>
                <dd><a {{action "publishNow"}}>Publish now</a></dd>
                <dd><a {{action "changePublishDate"}}>Publish at a specific time</a></dd>
              </dl>
            </div>
          {{else}}
            <button type="button" class="btn btn-small btn-info icon icon-ok-sign" {{action "saveDraft"}}> Save</button>
          {{/if}}
        </div>

      {{/if}}

    {{/if}}

    {{#if isScheduled}}

      {{#if type.canPublish}}

        <button type="button" class="btn btn-small btn-link float-left" {{action "saveDraft"}}>Save as a draft instead?</button>

        <div class="wy-btn-group">
          <button type="button" class="btn btn-small btn-success icon icon-ok-sign" {{action "publishFuture"}}> Publish at this time</button>
        </div>

        <div class="wy-control-group">
          <div class="wy-control">
            <button type="button" class="btn btn-small btn-link icon icon-clock" {{action "setPublishNow"}}> Set to now?</button>
            {{input type="datetime-local" value=publishDate}}
          </div>
        </div>

      {{else}}
        <span class="wh-save-info">Going live on {{format-time publishDate format="MM/DD/YYYY [at] hh:mmA"}}. </span>
      {{/if}}

    {{/if}}

    {{#if isLive}}

      <span class="wh-save-info">Went live on {{format-time publishDate format="MM/DD/YYYY [at] hh:mmA"}}. </span>

      {{#if type.canPublish}}
        <div class="wy-btn-group" data-toggle="wh-save-item-extra">
          <span class="wh-save-item-more-options">
            <button type="button" class="btn btn-small btn-link icon icon-minus-sign" {{action "saveDraft"}}> Revert to draft</button>
            <button type="button" class="btn btn-small btn-link icon icon-calendar" {{action "changePublishDate"}}> Change publish date?</button>
          </span>
          <button type="button" class="btn btn-small btn-link wh-save-item-extra-btn" data-toggle="wh-save-item-extra-btn">More options</button>
          <button type="button" class="btn btn-small btn-success icon icon-ok-sign" {{action "saveItem"}}> Save</button>
        </div>
      {{/if}}

    {{/if}}

  {{/if}}
</div>
