<section class="wh-content-edit">
  <button class="btn btn-neutral icon icon-eye-open float-right"> Preview</button>
  <h1>Editing {{id}}</h1>
  <hr/>

  <p>Created: {{format-time createDate format="YYYY"}}. Last updated: {{format-time lastUpdated}}</p>

  {{#view 'item-form'}}
    <fieldset>
      {{#each control in type.controls}}
        {{#unless control.hidden}}
          {{formbuilder-widget control=control session=session}}
        {{/unless}}
      {{/each}}

    <div class="wh-save-item">
      {{#if type.oneOff}}

        <div class="wy-btn-group">
          <button type="submit" class="btn btn-small btn-info icon icon-ok-sign"> Save</button>
        </div>

      {{else}}

        {{#if isDraft}}

          <div class="wy-btn-group">
            <div class="wy-dropdown wy-dropdown-bubble wy-dropdown-up">
              <button type="button" class="btn btn-small btn-info icon icon-ok-sign"> Save... <span class="icon icon-caret-up"></span></button>
              <dl class="wy-dropdown-menu">
                <dd><a {{action "saveDraft"}}>Save it as a draft</a></dd>
                <dd><a {{action "publishNow"}}>Publish now</a></dd>
                <dd><a {{action "changePublishDate"}}>Publish at a specific time</a></dd>
              </dl>
            </div>
          </div>

        {{/if}}

        {{#if isScheduled}}

          <button type="button" class="btn btn-small btn-link float-left" {{action "saveDraft"}}>Save as a draft instead?</button>

          <div class="wy-btn-group">
            <button type="button" class="btn btn-small btn-success icon icon-ok-sign" {{action "publishFuture"}}> Publish</button>
          </div>

          <div class="wy-control-group">
            <div class="wy-control">
              <div class="wy-input-prefix">
                <span class="wy-input-context"><i class="icon icon-calendar"></i> Publish date</span>{{input type="datetime-local" value=publishDate}}
              </div>
            </div>
          </div>

        {{/if}}

        {{#if isLive}}

        <span class="wh-save-info">Went live on {{format-time publishDate format="MM/DD/YYYY [at] hh:mmA"}}. </span>

        <div class="wy-btn-group">
          <button type="button" class="btn btn-small btn-link icon icon-calendar" {{action "changePublishDate"}}> Unpublish?</button>
          <button type="submit" class="btn btn-small btn-success icon icon-ok-sign"> Save</button>
        </div>

        {{/if}}

      {{/if}}
    </div>
    </fieldset>
  {{/view}}
</section>
