<form class="wy-form-stacked" {{action saveItem on="submit"}}>
  <fieldset>
    <legend>Editing {{id}}</legend>

    {{#each type.fields}}
      <div class="wy-control-group">
        <label>{{label}}</label>
        <div class="wy-control">
          {{input placeholder=placeholder value=value}}
          <span class="wy-form-message">{{help}}</span>
        </div>
      </div>
    {{/each}}

    <button type="submit" class="btn btn-neutral icon icon-check-sign"> Save</button>
    {{#if saved}}{{saved}}{{/if}}
  </fieldset>
</form>
