<section class="wh-content-edit">
  <!-- <button class="btn btn&#45;neutral icon icon&#45;eye&#45;open float&#45;right"> Preview</button> -->
  <h1>{{#if itemModel}}Edit{{else}}New{{/if}} {{type.name}}</h1>
  <p class="wh-item-publish-time">
    {{#if createDate}}Created on <span>{{format-time createDate format="MMM Do, YYYY."}}</span>{{/if}}
    {{#if lastUpdated}}Last updated on <span>{{format-time lastUpdated format="MMM Do, YYYY. h:mm A"}}</span>{{/if}}
  </p>
  <hr>

  {{#view 'item-form'}}
    <fieldset>
      {{#each control in type.controls}}
        {{#unless control.hidden}}
          {{view 'widget' control=control}}
          {{!-- {{formbuilder-widget control=control session=session}} --}}
        {{/unless}}
      {{/each}}

    <div class="wh-save-item">
      {{#if type.oneOff}}

        <div class="wy-btn-group">
          <button type="submit" class="btn btn-small btn-info icon icon-ok-sign"> Save</button>
        </div>

      {{else}}

        {{#if isDraft}}

          <div class="wy-btn-group">
            <div class="wy-dropdown wy-dropdown-bubble wy-dropdown-up">
              <button type="button" class="btn btn-small btn-info icon icon-ok-sign"> Save... <span class="icon icon-caret-up"></span></button>
              <dl class="wy-dropdown-menu">
                <dd><a {{action "saveDraft"}}>Save it as a draft</a></dd>
                <dd><a {{action "publishNow"}}>Publish now</a></dd>
                <dd><a {{action "changePublishDate"}}>Publish at a specific time</a></dd>
              </dl>
            </div>
          </div>

        {{/if}}

        {{#if isScheduled}}

          <button type="button" class="btn btn-small btn-link float-left" {{action "saveDraft"}}>Save as a draft instead?</button>

          <div class="wy-btn-group">
            <button type="button" class="btn btn-small btn-success icon icon-ok-sign" {{action "publishFuture"}}> Publish at this time</button>
          </div>

          <div class="wy-control-group">
            <div class="wy-control">
              <button type="button" class="btn btn-small btn-link icon icon-clock" {{action "setPublishNow"}}> Set to now?</button>
              {{input type="datetime-local" value=publishDate}}
            </div>
          </div>

        {{/if}}

        {{#if isLive}}

          <span class="wh-save-info">Went live on {{format-time publishDate format="MM/DD/YYYY [at] hh:mmA"}}. </span>

          <div class="wy-btn-group">
            <button type="button" class="btn btn-small btn-link icon icon-minus-sign" {{action "saveDraft"}}> Revert to draft</button>
            <button type="button" class="btn btn-small btn-link icon icon-calendar" {{action "changePublishDate"}}> Change publish date?</button>
            <button type="submit" class="btn btn-small btn-success icon icon-ok-sign"> Save</button>
          </div>

        {{/if}}

      {{/if}}
    </div>
    </fieldset>
  {{/view}}
</section>
