<section class="wh-content-head">
  {{#if fullPreviewUrl }}
    {{#unless type.oneOff}}
    <a target="_blank" {{ bind-attr href="fullPreviewUrl" }} class="btn icon icon-eye-open btn-preview btn-small btn-info"> Preview</a>
    {{/unless}}
  {{/if}}
  <span>{{#if itemModel}}Edit{{else}}New{{/if}} {{type.name}}{{#unless type.oneOff}} &raquo; {{nameControl.value}}{{/unless}}</span>
</section>
{{#if itemModel}}
  <section class="wh-content-subhead">
    <span class="wh-item-publish-time-section">{{#if createDate}}Created on <span>{{format-time createDate format="MMM Do, YYYY."}}</span>{{/if}}</span>
    <span class="wh-item-publish-time-section">{{#if lastUpdated}}Last updated on <span>{{format-time lastUpdated format="MMM Do, YYYY. h:mm A"}}</span>{{/if}}</span>
  </section>
{{/if}}
<section class="wh-content-edit">

  <div class="wy-control-group wy-control-group-required wh-slug">
    <label>Name</label>
    <div class="wy-control">
      {{input class="big-name" placeholder="Fill me in!" value=nameControl.value autofocus="true"}}

      {{#if session.supportedMessages.generate_slug}}

        {{#if isEditingSlug}}
          <span class="wy-form-message">This page will live at /{{#if type.slug}}{{type.slug}}{{else}}{{type.id}}{{/if}}/{{input value=slugControl.value placeholder=defaultSlug focus-out="forceSlug"}}/ <span class="icon icon-ok-sign"></span></span>
        {{else}}
          <span class="wy-form-message">This page will live at <a href="#" {{action "editSlug"}}>/{{#if type.slug}}{{type.slug}}{{else}}{{type.id}}{{/if}}/{{#if slugControl.value}}{{slugControl.value}}{{else}}{{defaultSlug}}{{/if}}/ <span class="icon icon-pencil"></span></a></span>
        {{/if}}

      {{/if}}
    </div>
  </div>

  {{#view 'item-form'}}
    <fieldset>
      {{#each control in type.controls}}
        {{#unless control.hidden}}
          {{view 'widget' context=control}}
        {{/unless}}
      {{/each}}

    <div class="wh-save-item">
      {{#if type.oneOff}}

        <div class="wy-btn-group">
          <button type="submit" class="btn btn-small btn-success icon icon-ok-sign"> Save</button>
        </div>

      {{else}}

        {{#if isDraft}}

          <div class="wy-btn-group">
            <div class="wy-dropdown wy-dropdown-bubble wy-dropdown-up">
              <button type="button" class="btn btn-small btn-info icon icon-ok-sign"> Save... <span class="icon icon-caret-up"></span></button>
              <dl class="wy-dropdown-menu">
                <dd><a {{action "saveDraft"}}>Save it as a draft</a></dd>
                <dd><a {{action "publishNow"}}>Publish now</a></dd>
                <dd><a {{action "changePublishDate"}}>Publish at a specific time</a></dd>
              </dl>
            </div>
          </div>

        {{/if}}

        {{#if isScheduled}}

          <button type="button" class="btn btn-small btn-link float-left" {{action "saveDraft"}}>Save as a draft instead?</button>

          <div class="wy-btn-group">
            <button type="button" class="btn btn-small btn-success icon icon-ok-sign" {{action "publishFuture"}}> Publish at this time</button>
          </div>

          <div class="wy-control-group">
            <div class="wy-control">
              <button type="button" class="btn btn-small btn-link icon icon-clock" {{action "setPublishNow"}}> Set to now?</button>
              {{input type="datetime-local" value=publishDate}}
            </div>
          </div>

        {{/if}}

        {{#if isLive}}

          <span class="wh-save-info">Went live on {{format-time publishDate format="MM/DD/YYYY [at] hh:mmA"}}. </span>

          <div class="wy-btn-group" data-toggle="wh-save-item-extra">
            <span class="wh-save-item-more-options">
              <button type="button" class="btn btn-small btn-link icon icon-minus-sign" {{action "saveDraft"}}> Revert to draft</button>
              <button type="button" class="btn btn-small btn-link icon icon-calendar" {{action "changePublishDate"}}> Change publish date?</button>
            </span>
            <button type="button" class="btn btn-small btn-link wh-save-item-extra-btn" data-toggle="wh-save-item-extra-btn">More options</button>
            <button type="submit" class="btn btn-small btn-success icon icon-ok-sign"> Save</button>
          </div>

        {{/if}}

      {{/if}}
    </div>
    </fieldset>
  {{/view}}
</section>
