<section class="wh-content-list">
  <section class="wh-content-list-title">
    {{#link-to 'wh.content.type.new' contentType class="btn btn-neutral fa fa-plus-circle float-right"}} Add new {{contentType.name}}{{/link-to}}
    <h1>{{contentType.name}}</h1>
  </section>

  <hr/>

  <input type="search"  placeholder="Filter this list"/>
  <div class="wy-dropdown wy-dropdown-display-options float-right">
    <span class="btn btn-neutral btn-small fa fa-table"> Display <span class="caret"></span></span>
    <dl class="wy-dropdown-menu">
      <dt>Show columns</dt>
      {{#each contentType.fields}}
      <dd>
        <span class="fa fa-check-circle">
          {{name}}
        </span>
      </dd>
      {{/each}}
      <dt>Sort by</dt>
      <dd>
        <span class="fa fa-circle">
          Last updated
        </span>
      </dd>
      <dd>
        <span class="fa fa-circle-blank">
          Last created
        </span>
      </dd>
      <dd>
        <span class="fa fa-circle-blank">
          Alphabetical
        </span>
      </dd>
    </dl>
  </div>

  <table class="wy-table wy-table-bordered-rows full-width">
    <thead>
      <tr>
        {{#each contentType.fields}}
          {{#if showInCms}}
            <th>{{label}}</th>
          {{/if}}
        {{/each}}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#with contentType as contentTypeNav}}
      {{#each item in model}}
        {{#link-to 'wh.content.type.edit' contentTypeNav.id item.id tagName="tr"}}
          {{#each item.fields}}<td>{{this}}</td>{{/each}}
          <td class="wy-table-actions">
            <button type="button" class="btn btn-link fa fa-times-circle" data-toggle="tooltip" title="Delete this row." {{action deleteItem item}}></button>
          </td>
          {{/link-to}}
      {{/each}}
      {{/with}}
    </tbody>
  </table>

</section>
