<section class="wh-content-list">
  <section class="wh-content-list-title">
    {{#link-to 'wh.content.type.new' contentType class="btn btn-neutral icon icon-plus-sign btn-preview"}} Add new {{contentType.name}}{{/link-to}}
    <h1>{{contentType.name}}</h1>
  </section>

  <hr>

  {{input type="search" placeholder="Filter" value=filterQuery}}

  <div class="wy-dropdown wy-dropdown-display-options float-right">
    <span class="btn btn-neutral btn-small icon icon-table"> Display <span class="caret"></span></span>
    <dl class="wy-dropdown-menu">
      <dt>Show columns</dt>
      {{#each columnChoices}}
        <dd>
          <span {{bind-attr class=":icon showInCms:icon-ok-sign:icon-circle-blank"}} {{action "toggleShowInCms" this on="click"}}>
            {{label}}
          </span>
        </dd>
      {{/each}}
    </dl>
  </div>

  {{#if limited}}
  <div class="wy-alert wy-alert-warning">
    <span class="icon icon-exclamation-circle"></span> For better performance, we have limited the number of records shown on this page to the last {{recordLimit}} created.
  </div>
  {{/if}}

  <table class="wy-table wy-table-bordered-rows wh-content">
    <thead>
      <tr>
        {{#each cmsControls}}
          <th><span class="wh-content-sort" {{action "sortToggle" name}}>{{label}}</span></th>
        {{/each}}
        <th></th>
      </tr>
    </thead>
    {{#collection 'content-index' content=sortedCmsItems contentType=contentType}}
      {{#each cmsControls}}
        <td {{ bind-attr class=controlType.widget }}>{{partial controlType.valuePartialPath}}</td>
      {{/each}}
      <td class="wy-table-actions">
        {{#if lockedBy}}
          <button type="button" class="btn btn-link icon icon-lock" {{bind-attr title=lockedBy}}></button>
        {{else}}
          <button type="button" class="btn btn-link icon icon-remove-sign" data-toggle="tooltip" title="Delete this row." {{action "deleteItem" this bubbles=false}}></button>
        {{/if}}
      </td>
    {{/collection}}
  </table>
  {{#unless model}}
    <div class="wy-alert wy-alert-warning">
      <span class="icon icon-exclamation-circle"></span> You haven't added any {{contentType.name}} yet.
    </div>
  {{/unless}}
  {{#if limited}}
    <button type="button" class="btn" {{action 'moreRecords'}}>Load More Records</button>
  {{/if}}
</section>
