<section class="wh-content-head">
  {{#link-to 'wh.content.type.new' contentType class="btn icon icon-plus-sign btn-preview btn-small btn-success"}} {{t 'wh.content.addNewItem' nameBinding="contentType.name"}}{{/link-to}}
  <h1>{{contentType.name}}</h1>
</section>
<section class="wh-content-subhead">
  {{input type="search" placeholder="Filter" value=filterQuery}}

  <div class="wy-dropdown wy-dropdown-display-options float-right">
    <span class="btn btn-neutral btn-small icon icon-table"> {{t 'wh.content.display'}} <span class="caret"></span></span>
    <dl class="wy-dropdown-menu">
      <dt>Show columns</dt>
      {{#each columnChoices}}
        <dd>
          <span {{bind-attr class=":icon showInCms:icon-ok-sign:icon-circle-blank"}} {{action "toggleShowInCms" this on="click"}}>
            {{label}}
          </span>
        </dd>
      {{/each}}
    </dl>
  </div>
</section>
<section class="wh-content-list">

  {{#if limited}}
  <div class="wy-alert wy-alert-warning">
    <span class="icon icon-exclamation-circle"></span> {{t 'wh.content.limited' recordLimitBinding="recordLimit"}}
  </div>
  {{/if}}

  <table class="wy-table wy-table-bordered-rows wh-content">
    <thead>
      <tr>
        {{#each control in cmsControls}}
          <th>
            <span class="wh-content-sort" {{action "sortToggle" control}}>
              {{control.label}}
              <span {{bind-attr class=":icon control.isSortDescending:icon-caret-up control.isSortAscending:icon-caret-down"}}></span>
            </span>
          </th>
        {{/each}}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedCmsItems itemView='item-row'}}
        {{#each cmsControls itemView='item-cell'}}
          {{partial controlType.valuePartialPath}}
        {{/each}}
        <td class="wy-table-actions">
          {{#if lockedBy}}
            <button type="button" class="btn btn-link icon icon-lock" {{bind-attr title=lockedBy}}></button>
          {{else}}
            <button type="button" class="btn btn-link icon icon-remove-sign" data-toggle="tooltip" title="Delete this row." {{action "deleteItem" this bubbles=false}}></button>
          {{/if}}
        </td>
      {{/each}}
    </tbody>
  </table>

  {{#if isLoading}}
    <br>
    <div class="wy-spinner"></div>
  {{else}}
    {{#unless model}}
      <div class="wy-alert wy-alert-warning">
        <span class="icon icon-exclamation-circle"></span> {{t 'wh.content.noRecords' nameBinding="contentType.name"}}
      </div>
    {{/unless}}
  {{/if}}

  {{#if limited}}
    <button type="button" class="btn btn-small btn-neutral icon icon-plus-sign" {{action 'moreRecords'}}> {{t 'wh.content.moreRecords'}}</button>
  {{/if}}
</section>
