<hr>

<div class="wy-control-group">

  <div class="wy-form-halves">
    <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
    {{input type="number" valueBinding="editingControl.meta.data.min"}}
  </div>
  <div class="wy-form-halves">
    <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
    {{input type="number" valueBinding="editingControl.meta.data.max"}}
  </div>

  <div class="wy-form-full">
    <label for="label">What can users add into the WYSIWYG? <i class="icon icon-question-sign"></i></label>
    <label class="wy-checkbox">
      {{view Ember.Checkbox checked=editingControl.meta.data.tables}}
      Tables
    </label>
    <label class="wy-checkbox">
      {{view Ember.Checkbox checked=editingControl.meta.data.videos}}
      Videos
    </label>
    <label class="wy-checkbox">
      {{view Ember.Checkbox checked=editingControl.meta.data.images}}
      Images
    </label>
    <label class="wy-checkbox">
      {{view Ember.Checkbox checked=editingControl.meta.data.quotes}}
      Block quotes
    </label>
    <label class="wy-checkbox">
      {{view Ember.Checkbox checked=editingControl.meta.data.links}}
      Links
    </label>
  </div>

</div>
