<hr>

<div class="wy-control-group">

  <div class="wy-form-halves">
    <label for="label">Min characters</label>
    {{input type="number" valueBinding="editingControl.meta.min"}}
  </div>
  <div class="wy-form-halves">
    <label for="label">Max characters</label>
    {{input type="number" valueBinding="editingControl.meta.max"}}
  </div>

  <div class="wy-form-full">
    <label for="label">What can users add into the WYSIWYG?</label>
    <label class="wy-checkbox">
      {{input type="checkbox" checked=editingControl.meta.table}}
      Tables
    </label>
    <label class="wy-checkbox">
      {{input type="checkbox" checked=editingControl.meta.video}}
      Videos
    </label>
    <label class="wy-checkbox">
      {{input type="checkbox" checked=editingControl.meta.image}}
      Images
    </label>
    <label class="wy-checkbox">
      {{input type="checkbox" checked=editingControl.meta.quote}}
      Block quotes
    </label>
    <label class="wy-checkbox">
      {{input type="checkbox" checked=editingControl.meta.link}}
      Links
    </label>
  </div>

</div>
