<label {{bind-attr class="control.invalid:wy-text-danger"}}>{{#if control.label}}{{control.label}}{{else}}{{control.controlType.name}}{{/if}} <span class="wh-template-var">{{control.name}}</span></label>
