<form class="wy-form-stacked" {{action "createType" on="submit"}}>
  <h1>What do you want to add to your CMS?</h1>
  <div class="wy-control-group">
    <div class="wy-control">
      <p>Use a short lowercase word, without spaces.</p>
      {{input value=newTypeName placeholder="ex: comics, articles, about us, cities, vampires" class="wy-input-large full-width"}}
      {{#if isDuplicate}}
        <span class="wy-input-context"> There is already an content type with that name</span>
      {{/if}}
    </div>
  </div>
  {{#if newTypeName}}
    <div class="wy-control-group">
      <label>How many {{newTypeName}} are there?
      <div class="wy-control">
        <label class="wy-radio">
          {{view "radio-button" name="contentTypeType" selection=newTypeType value="single"}}
          There is only one {{newTypeName}}.
        </label>
        <label class="wy-radio">
          {{view "radio-button" name="contentTypeType" selection=newTypeType value="multiple"}}
          There are multiple {{newTypeName}}.
        </label>
      </div>
    </div>
    <div class="wy-button-group">
      <button type="submit" class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled="isDisabled"}}> Let's create a {{#if newTypeName}}{{newTypeName}}{{/if}} form!</button>
      {{#link-to 'wh.content.start' class="btn btn-small btn-link icon icon-remove-sign"}} Cancel{{/link-to}}
    </div>
  {{/if}}
</form>
