<form class="wy-form-stacked" {{action "createType" on="submit"}}>
  <h1>{{t 'wh.content.start.title'}}</h1>
  <div class="wy-control-group">
    <label>{{t 'wh.content.start.nameLabel'}}</label>
    <div class="wy-control">
      {{input value=newTypeName placeholder="ex: comics, articles, about us, homepage, cities, vampires" class="wy-input-large full-width"}}
    </div>
  </div>
  {{#if isDuplicate}}
    <span class="wy-input-context"> {{t 'wh.content.start.duplicate'}}</span>
  {{/if}}
  {{#if isIdTooLong}}
    <span class="wy-input-context"> {{t 'wh.content.start.long'}}</span>
  {{/if}}
  <p>{{t 'wh.content.start.instruction'}}</p>
  {{#if newTypeName}}
    <h2>{{t 'wh.content.start.multiple.title'}}</h2>
    <p>{{t 'wh.content.start.multiple.instruction'}}</p>
    <div class="wy-control-group wh-select-type">
      <div class="wy-control">
        <label class="wy-radio">
          {{view "radio-button" name="contentTypeType" selection=newTypeType value="single"}}
          {{t 'wh.content.start.multiple.one'}}
        </label>
        <label class="wy-radio">
          {{view "radio-button" name="contentTypeType" selection=newTypeType value="multiple"}}
          {{t 'wh.content.start.multiple.many'}}
        </label>
      </div>
    </div>
    <div class="wy-button-group">
      <button type="submit" class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled="isDisabled"}}> {{t 'wh.content.start.action'}}</button>
      {{#link-to 'wh.content.start' class="btn btn-small btn-link icon icon-remove-sign"}} {{t 'wh.content.start.cancel'}}{{/link-to}}
    </div>
  {{/if}}
</form>
