
<form class="wy-form-stacked" {{action createType on="submit"}}>
  <div class="wh-content-type-create-form">
    <h5>What is the name of your new set?</h5>
    <div class="wy-control-group">
      <div class="wy-control">
        <div class="wy-inline-validate wy-inline-validate-info">
          {{input value=newTypeName placeholder="ex: comics" class="wy-input-large"}}
            <span class="wy-input-context"> Use a short lowercase word, without spaces.</span>
          {{#if isDuplicate}}
            <span class="wy-input-context"> There is already an content type with that name</span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="wy-button-group">
      <button type="submit" class="btn btn-neutral fa fa-check-circle"> Let's create a {{#if newTypeName}}{{newTypeName}}{{/if}} form!</button>
      {{#link-to 'wh.content.start' class="btn btn-small btn-link fa fa-times-circle"}} Cancel{{/link-to}}
    </div>
    <p></p>
  </div>

  <hr/>

  <h2>Some basic info as a developer</h2>
  <p>All this stuff exists in the documentation, but here are the main points.</p>
  <h5>How the URLs will generate for this set</h5>
  <ul class="wy-plain-list-disc">
    <li>A list of all <code>{{#if newTypeName}}{{newTypeName}}{{else}}comics{{/if}}</code> will exist at <code>http://www.yoursite.com/{{#if newTypeName}}{{newTypeName}}{{else}}comics{{/if}}</code></li>
    <li>Individual <code>{{#if newTypeName}}{{newTypeName}}{{else}}comics{{/if}}</code> will exist at <code>http://www.yoursite.com/{{#if newTypeName}}{{newTypeName}}{{else}}comics{{/if}}/$name/</code></li>
  </ul>

  <h5>Editable HTML templates will be generated in</h5>

  <ul class="wy-plain-list-disc">
    <li>The list of all <code>{{#if newTypeName}}{{newTypeName}}{{else}}comics{{/if}}</code> template will exist in <code>/templates/{{#if newTypeName}}{{newTypeName}}{{else}}comics{{/if}}/list.swig</code></li>
    <li>The template for a single <code>{{#if newTypeName}}{{newTypeName}}{{else}}comics{{/if}}</code> will exist in <code>/templates/{{#if newTypeName}}{{newTypeName}}{{else}}comics{{/if}}/individual.swig</code></li>
  </ul>
</form>
