<!-- SIDE NAV, TOGGLES ON MOBILE -->
<nav data-toggle="wy-nav-shift" class="wy-nav-side">

    {{#if onlineUsers.length}}
      <div class="wh-online-users" data-toggle="wh-online-users">
        <dl>
          {{#each onlineUsers}}
            <dd>{{this}}</dd>
          {{/each}}
        </dl>
        <div class="icon icon-user"> {{onlineUsers.length}}</div>
      </div>
    {{/if}}
    <div class="wy-side-nav-search">
      {{#link-to 'wh' classNameBindings=":wh-logo buildEnvironment.building:wh-logo-spinner buildEnvironment.local:wh-logo-local"}}{{/link-to}}
      <div class="wh-user-dropdown" data-toggle="tooltip" title="Click to change your password and other account info.">
        <a href="#">{{session.user.email}}</a>
        (<a {{action "logoutUser" on="click"}}>Logout</a>)
      </div>

      {{input placeholder="Press S to search" value=searchQuery}}
    </div>

    <div class="wy-menu wy-menu-vertical">

      <div data-menu-wrap="all-content" class="current move-center">

        {{#if model}}
          <hr>
          <header>Your content</header>
          {{#collection 'animate-collection' content=model}}
            {{#link-to 'wh.content.type' id}}{{name}}{{/link-to}}
          {{/collection}}
        {{/if}}

        {{# if session.isOwner }}
          <hr>
          <header>Configuration</header>
          <ul>
            {{#if buildEnvironment.local}}
              <li data-menu-item="customize-forms">{{#link-to 'wh.content.all-types'}}Add / edit content types{{/link-to}}</li>
            {{/if}}
            <li>{{#link-to 'wh.settings.team'}}Team members{{/link-to}}</li>
            <li>{{#link-to 'wh.settings.general'}}Settings{{/link-to}}</li>
            <li>{{#link-to 'wh.settings.domain'}}Domain{{/link-to}}</li>
            <li>{{#link-to 'wh.settings.data'}}Backups and data{{/link-to}}</li>
          </ul>
        {{/if}}

      </div>

    </div>
</nav>
