<!-- SIDE NAV, TOGGLES ON MOBILE -->
<nav data-toggle="wy-nav-shift" class="wy-nav-side">

    {{#if onlineUsers.length}}
      <div class="wh-online-users" data-toggle="wh-online-users">
        <dl>
          {{#each onlineUsers}}
            <dd>{{this}}</dd>
          {{/each}}
        </dl>
        <div class="icon icon-user"> {{onlineUsers.length}}</div>
      </div>
    {{/if}}
    <div class="wy-side-nav-search">
      {{#link-to 'wh' classNameBindings=":wh-logo buildEnvironment.building:wh-logo-spinner buildEnvironment.local:wh-logo-local"}}{{/link-to}}
      <div class="wh-user-dropdown" data-toggle="tooltip" title="Click to change your password and other account info.">
        {{#link-to 'wh.settings.password-change'}}{{session.user.email}}{{/link-to}}
        (<a {{action "logoutUser" on="click"}}>{{t 'wh.logout'}}</a>)
      </div>

      {{input placeholder="Press S to search" value=searchQuery}}
    </div>

    <div class="wy-menu wy-menu-vertical">

      <div data-menu-wrap="all-content" class="current move-center">

        {{#if model}}
          <hr>
          <header>{{t 'wh.navContent'}}</header>
          {{#collection 'animate-collection' content=model}}
            {{#link-to 'wh.content.type' id}}{{name}}{{/link-to}}
          {{/collection}}
        {{/if}}

        {{# if session.isOwner }}
          <hr>
          <header>{{t 'wh.configuration.title'}}</header>
          <ul>
            {{#if buildEnvironment.local}}
              <li data-menu-item="customize-forms">{{#link-to 'wh.content.all-types'}}{{t 'wh.configuration.types'}}{{/link-to}}</li>
            {{/if}}
            <li>{{#link-to 'wh.settings.team'}}{{t 'wh.configuration.team'}}{{/link-to}}</li>
            <li>{{#link-to 'wh.settings.general'}}{{t 'wh.configuration.settings'}}{{/link-to}}</li>
            {{#unless buildEnvironment.selfHosted}}
            <li>
              {{#link-to 'wh.settings.billing'}}
                {{#if session.billing.isTrial}}
                  Upgrade
                  <span class="wh-trial-notice">
                    {{#if session.billing.endTrialIsLastDay}}
                     Last day of trial
                    {{else}}
                      {{session.billing.endTrialDays}} trial days left
                    {{/if}}
                  </span>
                {{else}}
                    {{t 'wh.configuration.billing'}}
                {{/if}}
              {{/link-to}}
            </li>
            {{/unless}}
            {{#unless buildEnvironment.selfHosted}}
            <li>{{#link-to 'wh.settings.domain'}}{{t 'wh.configuration.dns'}}{{/link-to}}</li>
            {{/unless}}
            <li>{{#link-to 'wh.settings.data'}}{{t 'wh.configuration.data'}}{{/link-to}}</li>
          </ul>
        {{/if}}

      </div>

    </div>
</nav>
