{{#if noTypesLive}}
  <div class="wy-alert wy-alert-danger">
    <div class="wy-alert-title">{{t 'wh.index.welcome.noTypesTitle'}}</div>
    <p>{{t 'wh.index.welcome.noTypesMessage'}}</p>
  </div>
{{else}}

  {{#unless isEditingMessage}}

    {{#if session.isOwner}}
      <button type="button" class="btn btn-success" {{ action "editMessage" }}>Edit Message</button>
    {{/if}}

    <article>{{to-markdown settings.siteMessage}}</article>

  {{else}}

    {{markdown-editor value=settings.siteMessage session=session}}

    <button type="button" class="btn btn-success" {{ action "saveMessage" settings}}>Save</button>

  {{/unless}}

  <hr>

  {{webhook-blog}}

  {{#if session.serverMessages}}
    <section>
      <h2>{{t 'wh.index.history'}}</h2>

      <table class="wy-table wy-table-bordered-rows full-width">
        <thead>
          <tr>
            <th>Type</th>
            <th>Message</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each session.serverMessages}}
            <tr>
              <td>{{code}}</td>
              <td>{{message}}</td>
              <td>{{format-time timestamp}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      {{#if moreServerMessages}}<a {{action "moreServerMessages"}}>{{t 'wh.index.moreHistory'}}</a>{{/if}}
    </section>
  {{/if}}
{{/if}}
