<article>
  <h1>{{t 'wh.index.welcome.title'}}</h1>

  <p>{{t 'wh.index.welcome.description'}}</p>

  <ul>
    <li><a href="http://www.webhook.com/docs/">{{t 'wh.index.welcome.docs'}}</a></li>
    <li><a href="http://www.webhook.com/help/">{{t 'wh.index.welcome.support'}}</a></li>
    <li><a href="https://github.com/webhook/webhook/issues?state=open">{{t 'wh.index.welcome.issues'}}</a></li>
    <li><a href="http://forums.webhook.com/">{{t 'wh.index.welcome.forums'}}</a></li>
  </ul>

</article>

<hr>

{{webhook-blog}}

{{#if session.serverMessages}}
  <section>
    <h2>{{t 'wh.index.history'}}</h2>

    <table class="wy-table wy-table-bordered-rows full-width">
      <thead>
        <tr>
          <th>Type</th>
          <th>Message</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each session.serverMessages}}
          <tr>
            <td>{{code}}</td>
            <td>{{message}}</td>
            <td>{{format-time timestamp}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#if moreServerMessages}}<a {{action "moreServerMessages"}}>{{t 'wh.index.moreHistory'}}</a>{{/if}}
  </section>
{{/if}}
