{{#if noTypesLive}}
  <div class="wy-alert wy-alert-danger">
    <div class="wy-alert-title">{{t 'wh.index.welcome.noTypesTitle'}}</div>
    <p>{{t 'wh.index.welcome.noTypesMessage'}}</p>
  </div>
{{else}}

  {{#unless isEditingMessage}}

    <article>{{to-markdown settings.siteMessage}}</article>
    {{#if session.isOwner}}
      <button type="button" class="btn btn-neutral btn-small icon icon-pencil" {{ action "editMessage" }}> {{t 'wh.index.welcome.edit'}}</button>
    {{/if}}

  {{else}}
    <div class="wy-control-group">
      {{markdown-editor value=settings.siteMessage session=session}}
    </div>

    <button type="button" class="btn btn-info btn-small icon icon-ok-sign" {{ action "saveMessage" settings}}> {{t 'wh.index.welcome.save'}}</button>
    <button type="button" class="btn btn-link btn-small icon icon-remove-sign wy-text-danger" {{ action "cancelMessage" }}> {{t 'wh.index.welcome.cancel'}}</button>

  {{/unless}}

  <hr>

  {{#if buildEnvironment.local}}
    {{webhook-blog}}
  {{/if}}

  {{#if session.serverMessages}}
    <section>
      <h2>{{t 'wh.index.history'}}</h2>

      <table class="wy-table wy-table-bordered-rows full-width">
        <thead>
          <tr>
            <th>Type</th>
            <th>Message</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each session.serverMessages}}
            <tr>
              <td>{{code}}</td>
              <td>{{message}}</td>
              <td>{{format-time timestamp}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      {{#if moreServerMessages}}<a {{action "moreServerMessages"}}>{{t 'wh.index.moreHistory'}}</a>{{/if}}
    </section>
  {{/if}}
{{/if}}
