{{webhook-blog}}

<article>
  <h1>Welcome Kickstarter backers!</h1>

  <p>
    Thank you for supporting Webhook and backing the project.
  </p>

  <ul>
    <li><a href="http://www.webhook.com/docs/">Documentation</a></li>
    <li><a href="http://www.webhook.com/help/">Support</a></li>
    <li><a href="https://github.com/webhook/webhook/issues?state=open">Issues on Github</a></li>
    <li><a href="http://forums.webhook.com/">Forums</a></li>
  </ul>

</article>


{{#if serverMessages}}
  <section>
    <h2>Build history</h2>

    <table class="wy-table wy-table-bordered-rows full-width">
      <thead>
        <tr>
          <th>Type</th>
          <th>Message</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each serverMessages}}
          <tr>
            <td>{{code}}</td>
            <td>{{message}}</td>
            <td>{{format-time timestamp}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#if moreServerMessages}}<a {{action "moreServerMessages"}}>Fetch more history</a>{{/if}}
  </section>
{{/if}}
