<h1>Search Results</h1>
<hr>

{{#if debouncedQuery}}
  {{#if model}}
    <p>Search results for {{debouncedQuery}}.</p>
  {{else}}
    <p>No results for {{debouncedQuery}}.</p>
  {{/if}}
{{else}}
  <p>Please enter a search query.</p>
{{/if}}

{{#if isLoading }}
  <div class="wy-spinner wy-spinner"></div>
{{else}}

  {{#if model}}
      <ul class="wh-search-results">
        {{#each}}
          <li>
            {{#link-to 'wh.content.type.edit' type id }}
              {{{ name }}}
              <span class="wh-search-results-type">{{ type }}</span>
            {{/link-to}}
            <dl>
              {{#each highlights}}
                <dt>{{ key }}</dt>
                <dd>{{{ highlight }}}</dd>
              {{/each}}
            </dl>
          </li>
        {{/each}}
      </ul>
  {{/if}}

{{/if}}
