<header>
  Templates created
</header>
<section>
  <p>
  {{#if contentType.oneOff}}
    We automatically created a starter template for you. You can find it at
    <code>/{{buildEnvironment.siteName}}/pages/{{contentType.id}}.html</code>.
    It will teach you the basics of pulling content into your site from the CMS.
  {{else}}
    We automatically created starter templates in your
    <code>/{{buildEnvironment.siteName}}/templates/{{contentType.id}}/</code>
    folder. They will teach you the basics of pulling content into your
    site from the CMS.
  {{/if}}
  </p>
  </section>
</section>
<footer>
  <button type="button" class="btn btn-neutral icon icon-ok-sign" {{action "confirm"}}> OK, I got it!</button>
</footer>
