{{#if editingField}}

<nav data-toggle="wy-nav-shift" class="wy-nav-side wy-nav-side-widget-edit" data-spy="affix" style="display:block">
  <form class="wy-form-stacked">
    <legend>Edit field</legend>
    <hr/>
    <div class="wy-control-group">
      <div class="wy-form-halves">
        <label for="label" {{bind-attr for="view.label.elementId"}}>Field label <i class="fa fa-question-circle"></i></label>
        {{input valueBinding="editingField.label" viewName="label"}}
      </div>
      <div class="wy-form-halves">
        <label {{bind-attr for="view.placeholder.elementId"}}>Placeholder value <i class="fa fa-question-circle"></i></label>
        {{input valueBinding="editingField.placeholder" viewName="placeholder"}}
      </div>
      <div class="wy-form-full">
        <label {{bind-attr for="view.help.elementId"}}>Instructions for user <i class="fa fa-question-circle"></i></label>
        {{textarea valueBinding="editingField.help" viewName="help"}}
      </div>
      <div class="wy-form-full">
        <label for="check-example">Required <i class="fa fa-question-circle"></i></label>
        <div class="wy-control">
          <label class="wy-checkbox">
            {{view Ember.Checkbox checked=editingField.required}}
            Make this field required.
          </label>
        </div>
      </div>
      <div class="wy-form-full">
        <label for="check-example">CMS lists <i class="fa fa-question-circle" data-toggle="tooltip" title="When we create a list of these in the CMS, should we output the value of this field in the list? This is usually done for important fields like the name, the category or something similar."></i></label>
        <div class="wy-control">
          <label class="wy-checkbox">
            {{view Ember.Checkbox checked=editingField.showInCms}}
            Add this as a column when viewing in the CMS list view.
          </label>
        </div>
      </div>
    </div>

    <hr>

    {{partial editingField.fieldType.infoPartialPath}}

    <hr/>
    <div class="wy-btn-group">
      <button class="btn btn-neutral fa fa-check-circle" {{action stopEditing}}> OK</button>
      <button class="btn btn-link fa fa-times-circle" {{action deleteField editingField}}> Delete</button>
    </div>
  </form>
</nav>

{{else}}

<nav data-toggle="wy-nav-shift" class="wy-nav-side" data-spy="affix">
  {{#each fieldTypeGroups}}
    <dl>
      <dt>{{name}}</dt>
      {{#each fields}}
        <dd><a {{bind-attr class=":wh-form-choice :fa faClass"}} {{action addField this}}> {{name}}</a></dd>
      {{/each}}
    </dl>
  {{/each}}
</nav>

{{/if}}
