{{#if isEditing}}

<nav data-toggle="wy-nav-shift" class="wy-nav-side wy-nav-side-widget-edit" style="display:block">
  <div data-spy="affix">
    <div class="wh-form-builder-note">
      <div class="wh-logo"></div>
    </div>
      <ul class="wh-form-builder-tabs">
        <li {{action "stopEditing"}}>{{t 'form.add'}}</li>
        <li class="active">{{t 'form.edit'}} <span class="icon icon-arrow-right"></span></li>
      </ul>
      <form class="wy-form-stacked">

        {{#unless model.isNew}}
          <p class="warning">{{t 'form.isNewWarning'}}</p>
          <hr>
        {{/unless}}

        <div class="wy-control-group">
          {{#unless editingControl.locked}}
            <div class="wy-form-halves">
              <label for="label" {{bind-attr for="view.label.elementId"}}>{{t 'form.info.label'}} <i class="icon icon-question-sign" data-toggle="tooltip" {{translateAttr title="form.info.labelTitle"}}></i></label>
              {{input valueBinding="editingControl.label" viewName="label"}}
            </div>
          {{/unless}}
          {{#if editingControl.showPlaceholder}}
            <div class="wy-form-halves">
              <label {{bind-attr for="view.placeholder.elementId"}}>{{t 'form.info.placeholder'}} <i class="icon icon-question-sign" data-toggle="tooltip" {{translateAttr title="form.info.placeholderTitle"}}></i></label>
              {{input valueBinding="editingControl.placeholder" viewName="placeholder"}}
            </div>
          {{/if}}
          <div class="wy-form-full">
            <label {{bind-attr for="view.help.elementId"}}>{{t 'form.info.instruction'}} <i class="icon icon-question-sign" data-toggle="tooltip" {{translateAttr title="form.info.instructionTitle"}}></i></label>
            {{textarea valueBinding="editingControl.help" viewName="help"}}
          </div>
          {{#if editingControl.showRequired}}
            <div class="wy-form-full">
              <label for="check-example">{{t 'form.info.required'}} <i class="icon icon-question-sign" data-toggle="tooltip" {{translateAttr title="form.info.requiredTitle"}}></i></label>
              <div class="wy-control">
                <label class="wy-checkbox">
                  {{view Ember.Checkbox checkedBinding="editingControl.required"}}
                  {{t 'form.info.requiredCheckbox'}}
                </label>
              </div>
            </div>
          {{/if}}
        </div>

        {{partial editingControl.controlType.infoPartialPath}}

        <hr>

        <div class="wy-btn-group">
          {{#unless editingControl.locked}}
            <button type="button" class="btn btn-danger icon icon-remove-sign" {{action "deleteControl" editingControl on="click"}}> {{t 'form.info.delete'}}</button>
          {{/unless}}
        </div>
      </form>
    </div>
  </div>
</nav>

{{else}}

  {{#if isEditingTypeId}}

    <nav data-toggle="wy-nav-shift" class="wy-nav-side wy-nav-side-widget-edit" style="display:block">
      <div data-spy="affix">
        <div class="wh-form-builder-note">
          <div class="wh-logo"></div>
        </div>

        <ul class="wh-form-builder-tabs">
          <li {{action "stopEditing"}}>{{t 'form.add'}}</li>
          <li class="active">{{t 'form.edit'}} <span class="icon icon-arrow-right"></span></li>
        </ul>

        <form class="wy-form-stacked">
          {{#unless model.isNew}}
            <p class="warning">{{t 'form.isNewWarning'}}</p>
            <hr>
          {{/unless}}

          <div class="wy-control-group">
            <label>{{t 'form.typeName'}}</label>
            <div class="wy-control wy-form-full">
              {{input value=name}}
            </div>
          </div>

          {{#unless isValidTypeId}}
            <div class="wy-alert wy-alert-danger">
              <div class="wy-alert-title">{{t 'form.typeNameInvalid'}}</div>
              <ul>
                {{#each newTypeIdErrors}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          {{/unless}}

          <p class="edit-instruction">{{t 'form.slugInstruction' nameBinding="name"}}</p>
          <hr>

          <div class="wy-control-group">
            <label>{{t 'form.listUrlLabel' nameBinding="name"}}</label>
            <div class="wy-control wy-form-full">
              {{input placeholder=id value=customUrls.listUrl focus-out="correctListUrl"}}
            </div>
          </div>

          <div class="wy-control-group">
            <label>{{t 'form.individualUrlLabel' nameBinding="name"}}</label>
            <div class="wy-control wy-form-full">
              {{input value=customUrls.individualUrl focus-out="correctIndividualUrl"}}
            </div>
          </div>

        </form>
      </div>
    </nav>

  {{else}}
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div data-spy="affix">
        <div class="wh-form-builder-note">
          <div class="wh-logo"></div>
        </div>
        <ul class="wh-form-builder-tabs">
          <li class="active">{{t 'form.add'}} <span class="icon icon-arrow-down"></span></li>
          <li {{action "startEditing"}}>{{t 'form.edit'}}</li>
        </ul>
        {{#view "draggable"}}
          {{#each group in controlTypeGroups}}
            <dl>
              <dt>{{translate-control group.name true}}</dt>
              {{#each group.controlTypes}}
                {{#unless isHidden}}
                  <dd data-id="{{unbound id}}"><a {{bind-attr class=":wh-form-choice :icon iconClass"}} {{action "addControl" this}}> {{translate-control widget}}</a></dd>
                {{/unless}}
              {{/each}}
            </dl>
          {{/each}}
        {{/view}}
      </div>
    </nav>
  {{/if}}

{{/if}}
