<span class="wy-form-full">
  {{input placeholder="Street address 1" class="street1" value=value.street1}}
</span>
<span class="wy-form-full">
  {{input placeholder="address 2" class="street2" value=value.street2}}
</span>
<span class="wy-form-halves">
  {{input placeholder="City" class="city" value=value.city}}
</span>
<span class="wy-form-halves">
  {{input placeholder="State / province / region" class="state" value=value.state}}
</span>
<span class="wy-form-halves">
  {{input placeholder="Postal / zip code" class="postal" value=value.zip}}
</span>
<span class="wy-form-halves">
  {{input placeholder="Country" class="country" value=value.country}}
</span>
