<span class="wy-form-full">
  {{input placeholder="Street address 1" class="street1" value=view.content.value.street1 disabled=view.content.disabled}}
</span>
<span class="wy-form-full">
  {{input placeholder="address 2" class="street2" value=view.content.value.street2 disabled=view.content.disabled}}
</span>
<span class="wy-form-halves">
  {{input placeholder="City" class="city" value=view.content.value.city disabled=view.content.disabled}}
</span>
<span class="wy-form-halves">
  {{input placeholder="State / province / region" class="state" value=view.content.value.state disabled=view.content.disabled}}
</span>
<span class="wy-form-halves">
  {{input placeholder="Postal / zip code" class="postal" value=view.content.value.zip disabled=view.content.disabled}}
</span>
<span class="wy-form-halves">
  {{input placeholder="Country" class="country" value=view.content.value.country disabled=view.content.disabled}}
</span>
