<span class="wh-template-var">{{view.templateVar}}</span>

<label class="wy-checkbox">
  {{input type='checkbox' checked=view.content.value disabled=view.content.disabled}}
  {{view.content.label}}
</label>

{{partial 'widgets/common/help'}}

{{#if view.content.widgetErrors}}
  <ul>
    {{#each view.content.widgetErrors}}
      <li><span class="wy-form-message">{{this}}</span></li>
    {{/each}}
  </ul>
{{/if}}
