<div {{bind-attr class=":wy-control-group required:wy-control-group-required"}} data-toggle="tooltip" data-placement="left" title="Click to edit field details." {{action editField this on="click"}}>
  <label>{{label}}</label>
  <div class="wy-control">
    {{input placeholder=placeholder disabled="true"}}
    <!-- optional help message -->
    <span class="wy-form-message">{{help}}</span>
  </div>
</div>
