<section class="wh-content-head">
  <h1>{{t 'wh.settings.billing.title'}}</h1>
</section>
<section class="wh-content-edit">
  {{#if session.billing.isTrial }}
    <h2>
    {{#if session.billing.endTrialIsLastDay}}
      {{t 'wh.settings.billing.trial.lastDay'}}
    {{else}}
      {{t 'wh.settings.billing.trial.days' countBinding="session.billing.endTrialDays"}}
    {{/if}}
    </h2>
    {{t 'wh.settings.billing.trial.instruction'}}
    <a {{bind-attr href=session.billing.url}} class="btn btn-neutral icon icon-credit"> {{t 'wh.settings.billing.trial.action'}}</a>
  {{/if}}
  {{#if session.billing.isPaid }}
    <h2>{{t 'wh.settings.billing.paid.title'}}</h2>
    {{t 'wh.settings.billing.paid.instruction'}}
    <a {{bind-attr href=session.billing.url}} class="btn btn-neutral icon icon-credit"> {{t 'wh.settings.billing.paid.action'}}</a>
  {{/if}}
</section>
