<section class="wh-content-head">
  <h1>{{t 'wh.settings.data.importExport.title'}}</h1>
</section>

<section class="wh-content-edit">

  {{# if dataBackup}}
    <p>We found the following data in your file:</p>

    <table class="wy-table wy-table-bordered-rows full-width">
      <thead>
        <tr><th>Content Type</th><th>Item Count</th></tr>
      </thead>
      <tbody>
        {{#each dataBreakdown.content}}
          <tr>
            <td>{{name}}</td>
            <td>{{itemCount}}</td>
          </tr>
        {{else}}
          <tr>
            <td colspan="100">No content to import.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <table class="wy-table wy-table-bordered-rows full-width">
      <thead>
        <tr><th>Setting</th><th>Value</th></tr>
      </thead>
      <tbody>
        {{#each dataBreakdown.settings}}
          <tr>
            <td>{{name}}</td>
            <td>{{value}}</td>
          </tr>
        {{else}}
          <tr>
            <td colspan="100">No settings to import.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#if validImport}}
      <div class="wy-alert wy-alert-danger">
        <div class="wy-alert-title">Warning!</div>
        <p>Using a backup will <strong>permenantly delete</strong> current data and replace it with the data you just uploaded. It will also rebuild your site with the imported data. If you have not created a backup in a while, now would be a good time.</p>
        <div class="wy-btn-group">
          <button class="btn btn-success icon icon-ok-sign" {{action "confirm"}}> Proceed</button>
          <button class="btn btn-danger icon icon-remove-sign" {{action "reset"}}> Cancel</button>
        </div>
      </div>
    {{else}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">No data</div>
        <p>We could not find any valid data to import from your file.</p>
        <div class="wy-btn-group">
          <button class="btn btn-neutral" {{action "reset"}}> Back</button>
        </div>
      </div>
    {{/if}}
  {{else}}
    {{#if dataError}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">We were unable to parse your file.</div>
        <p>Please make sure you are uploading a <strong>valid</strong> JSON file and try again.</p>
        <pre>{{dataError.name}}: {{dataError.message}}</pre>
      </div>
    {{else}}
      <p>{{t 'wh.settings.data.importExport.instruction'}}</p>
    {{/if}}
    {{download-backup classNames="btn btn-neutral icon icon-download" text=" Export JSON data"}}
    <button class="btn btn-neutral icon icon-upload" {{action "upload"}}> {{t 'wh.settings.data.importExport.action.import'}}</button>
  {{/if}}

</section>


<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.backups.title'}}</h1>
</section>

<section class="wh-content-edit">
  <h4>{{t 'wh.settings.data.backups.data.title'}}</h4>
  <p>{{t 'wh.settings.data.backups.data.instruction'}}</p>
  <ul class="wy-plain-list-disc">
    {{#each backup in model}}
      <li><a href="#" {{action getBackup backup}}>{{format-time backup.timestamp}}</a></li>
    {{/each}}
  </ul>

  <h4>{{t 'wh.settings.data.backups.templates.title'}}</h4>
  {{#unless buildEnvironment.selfHosted }}
    <p>{{t 'wh.settings.data.backups.templates.instruction'}}</p>
    <a class="btn btn-neutral icon icon-download" {{bind-attr download=downloadFileName}} {{bind-attr href=downloadLink}}> {{t 'wh.settings.data.backups.templates.action'}}</a>
  {{/unless}}

</section>


<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.wordpress.title'}}</h1>
</section>

<section class="wh-content-edit">

  <p>{{t 'wh.settings.data.wordpress.instruction'}}</p>

  {{#select-file action='wordpressFileSelected' accept='application/xml' class="icon icon-wordpress"}} {{t 'wh.settings.data.wordpress.action'}}{{/select-file}}

</section>


<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.search.title'}}</h1>
</section>

<section class="wh-content-edit">

  <p>{{t 'wh.settings.data.search.instruction'}}</p>

  <button class="btn btn-neutral icon icon-refresh" {{action "reindex"}} {{bind-attr disabled=isIndexing}}>{{#if isIndexing}} Indexing data <span class="wy-spinner"></span>{{else}} {{t 'wh.settings.data.search.action'}}{{/if}}</button>

</section>

<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.backups.reset.title'}}</h1>
</section>

<section class="wh-content-edit">
  {{#if buildEnvironment.local}}
    <p>{{t 'wh.settings.data.reset.instruction'}}</p>

    <div class="wy-control-group">
      <div class="wy-control">
        <label class="wy-radio">
          {{view "radio-button"
            name="deleteOptions"
            selection=deleteOption
            value="data"
          }}
          {{t 'wh.settings.data.reset.options.data'}}
        </label>

        <label class="wy-radio">
          {{view "radio-button"
            name="deleteOptions"
            selection=deleteOption
            value="everything"
          }}
          {{t 'wh.settings.data.reset.options.all'}}
        </label>
      </div>
    </div>
    <button class="btn btn-danger icon icon-remove-sign" {{action "deleteData"}} {{bind-attr disabled=isDeleting}}> {{#if isDeleting}}Deleting data <span class="wy-spinner"></span>{{else}}{{t 'wh.settings.data.reset.action'}}{{/if}}</button>
  {{else}}
    <p>{{t 'wh.settings.data.backups.reset.warning'}}</p>
  {{/if}}
</section>
