<section class="wh-content-head">
  <h1>{{t 'wh.settings.data.importExport.title'}}</h1>
</section>

<section class="wh-content-edit">
  {{# if dataBackup}}
    <p>{{t 'wh.settings.data.importExport.import.found'}}</p>

    <table class="wy-table wy-table-bordered-rows full-width">
      <thead>
        <tr><th>{{t 'wh.settings.data.importExport.import.type'}}</th><th>{{t 'wh.settings.data.importExport.import.item'}}</th></tr>
      </thead>
      <tbody>
        {{#each dataBreakdown.content}}
          <tr>
            <td>{{name}}</td>
            <td>{{itemCount}}</td>
          </tr>
        {{else}}
          <tr>
            <td colspan="100">{{t 'wh.settings.data.importExport.import.noContent'}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <table class="wy-table wy-table-bordered-rows full-width">
      <thead>
        <tr><th>{{t 'wh.settings.data.importExport.import.setting'}}</th><th>{{t 'wh.settings.data.importExport.import.value'}}</th></tr>
      </thead>
      <tbody>
        {{#each dataBreakdown.settings}}
          <tr>
            <td>{{name}}</td>
            <td>{{value}}</td>
          </tr>
        {{else}}
          <tr>
            <td colspan="100">{{t 'wh.settings.data.importExport.import.noSettings'}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#if validImport}}
      <div class="wy-alert wy-alert-danger">
        <div class="wy-alert-title">{{t 'wh.settings.data.importExport.import.warningTitle'}}</div>
        <p>{{t 'wh.settings.data.importExport.import.warning'}}</p>
        <div class="wy-btn-group">
          <button class="btn btn-success icon icon-ok-sign" {{action "confirm"}}> {{t 'wh.settings.data.importExport.import.proceed'}}</button>
          <button class="btn btn-danger icon icon-remove-sign" {{action "reset"}}> {{t 'wh.settings.data.importExport.import.cancel'}}</button>
        </div>
      </div>
    {{else}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">{{t 'wh.settings.data.importExport.import.noDataTitle'}}</div>
        <p>{{t 'wh.settings.data.importExport.import.noData'}}</p>
        <div class="wy-btn-group">
          <button class="btn btn-neutral" {{action "reset"}}> {{t 'wh.settings.data.importExport.import.goBack'}}</button>
        </div>
      </div>
    {{/if}}
  {{else}}
    {{#if dataError}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">{{t 'wh.settings.data.importExport.import.invalidTitle'}}</div>
        <p>{{t 'wh.settings.data.importExport.import.invalid'}}</p>
        <pre>{{dataError.name}}: {{dataError.message}}</pre>
      </div>
    {{else}}
      <p>{{t 'wh.settings.data.importExport.instruction'}}</p>
    {{/if}}
    {{#download-backup classNames="btn btn-neutral icon icon-download" text=""}}
      {{t 'wh.settings.data.importExport.action.export'}}
    {{/download-backup}}
    <button class="btn btn-neutral icon icon-upload" {{action "upload"}}> {{t 'wh.settings.data.importExport.action.import'}}</button>
  {{/if}}

</section>

<section class="wh-content-head wh-content-head-again">
  <h1>API Key</h1>
</section>

<section class="wh-content-edit">
  <p>You can use this API key to build your site without the CMS or import/delete data into your site.</p>

  <pre>{{ apiKey }}</pre>
</section>

<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.backups.title'}}</h1>
</section>

<section class="wh-content-edit">
  <h4>{{t 'wh.settings.data.backups.data.title'}}</h4>
  <p>{{t 'wh.settings.data.backups.data.instruction'}}</p>
  <ul class="wy-plain-list-disc">
    {{#each backup in model}}
      <li><a href="#" {{action "getBackup" backup}}>{{format-time backup.timestamp}}</a></li>
    {{/each}}
  </ul>

  <h4>{{t 'wh.settings.data.backups.templates.title'}}</h4>
  {{#unless buildEnvironment.selfHosted }}
    <p>{{t 'wh.settings.data.backups.templates.instruction'}}</p>
    <a class="btn btn-neutral icon icon-download" {{bind-attr download=downloadFileName}} {{bind-attr href=downloadLink}}> {{t 'wh.settings.data.backups.templates.action'}}</a>
  {{/unless}}

</section>


<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.wordpress.title'}}</h1>
</section>

<section class="wh-content-edit">

  <p>{{t 'wh.settings.data.wordpress.instruction'}}</p>

  {{#select-file action='wordpressFileSelected' accept='application/xml' class="icon icon-wordpress"}} {{t 'wh.settings.data.wordpress.action'}}{{/select-file}}

</section>


<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.search.title'}}</h1>
</section>

<section class="wh-content-edit">

  <p>{{t 'wh.settings.data.search.instruction'}}</p>

  <button class="btn btn-neutral icon icon-refresh" {{action "reindex"}}> {{t 'wh.settings.data.search.action'}}</button>

</section>

<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.reset.title'}}</h1>
</section>

<section class="wh-content-edit">
  {{#if buildEnvironment.local}}
    <p>{{t 'wh.settings.data.reset.instruction'}}</p>

    <div class="wy-control-group">
      <div class="wy-control">
        <label class="wy-radio">
          {{view "radio-button"
            name="deleteOptions"
            selection=deleteOption
            value="data"
          }}
          {{t 'wh.settings.data.reset.options.data'}}
        </label>

        <label class="wy-radio">
          {{view "radio-button"
            name="deleteOptions"
            selection=deleteOption
            value="everything"
          }}
          {{t 'wh.settings.data.reset.options.all'}}
        </label>
      </div>
    </div>
    <button class="btn btn-danger icon icon-remove-sign" {{action "deleteData"}} {{bind-attr disabled=isDeleting}}> {{#if isDeleting}}{{t 'wh.settings.data.reset.deleting'}} <span class="wy-spinner"></span>{{else}}{{#if isDeleteData}}{{t 'wh.settings.data.reset.action.deleteData'}}{{else}}{{t 'wh.settings.data.reset.action.deleteEverything'}}{{/if}}{{/if}}</button>
  {{else}}
    <p>{{t 'wh.settings.data.reset.warning'}}</p>
  {{/if}}
</section>
