<h2>Backups</h2>

{{# if dataBackup}}
  <p>We found the following data in your file:</p>

  <table class="wy-table wy-table-bordered-rows full-width">
    <thead>
      <tr><th>Content Type</th><th>Item Count</th></tr>
    </thead>
    <tbody>
      {{#each dataBreakdown.content}}
        <tr>
          <td>{{name}}</td>
          <td>{{itemCount}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="100">No content to import.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <table class="wy-table wy-table-bordered-rows full-width">
    <thead>
      <tr><th>Setting</th><th>Value</th></tr>
    </thead>
    <tbody>
      {{#each dataBreakdown.settings}}
        <tr>
          <td>{{name}}</td>
          <td>{{value}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="100">No settings to import.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if validImport}}
    <div class="wy-alert wy-alert-danger">
      <div class="wy-alert-title">Warning!</div>
      <p>Using a backup will <strong>permenantly delete</strong> current data and replace it with the data you just uploaded. It will also rebuild your site with the imported data. If you have not created a backup in a while, now would be a good time.</p>
      <div class="wy-btn-group">
        <button class="btn btn-neutral" {{action "reset"}}> This doesn't look right, abort.</button>
        <button class="btn btn-neutral" {{action "confirm"}}> Looks good, proceed.</button>
      </div>
    </div>
  {{else}}
    <div class="wy-alert wy-alert-warning">
      <div class="wy-alert-title">No data</div>
      <p>We could not find any valid data to import from your file.</p>
      <div class="wy-btn-group">
        <button class="btn btn-neutral" {{action "reset"}}> Back</button>
      </div>
    </div>
  {{/if}}
{{else}}
  {{#if dataError}}
    <div class="wy-alert wy-alert-warning">
      <div class="wy-alert-title">We were unable to parse your file.</div>
      <p>Please make sure you are uploading a <strong>valid</strong> JSON file and try again.</p>
      <pre>{{dataError.name}}: {{dataError.message}}</pre>
    </div>
  {{else}}
    <div class="wy-alert wy-alert-warning">
      <div class="wy-alert-title">Hey alpha testers!</div>
      <p>
        This page is super basic right now. You can download your site's data
        as a JSON file. We plan on adding automatic historical backups as
        well. This is alpha software, if you are working on something
        important, backup your data often.
      </p>
    </div>
    <div class="wy-alert wy-alert-info">
      <div class="wy-alert-title">Importing custom data</div>
      <p>You are not restricted to just uploading backups. You can upload any data you want but it must conform to the expected format. See the <a href="http://www.webhook.com/docs/importing-custom-data/">documentation</a> for more information.</p>
    </div>
  {{/if}}
  <div class="wy-btn-group">
    {{download-backup classNames="btn btn-neutral icon icon-download" text=" Download JSON data"}}
    <button class="btn btn-neutral icon icon-upload" {{action "upload"}}> Upload JSON data</button>
  </div>
{{/if}}

<h2>Delete Data</h2>

<p>Sometimes it's faster to delete all of your data and start from scratch. We recommend downloading a backup of your data before taking such drastic measures. Deleting site data will also rebuild your site.</p>

<button class="btn btn-danger" {{action "deleteData"}}>Delete all data</button>
