<section class="wh-content-head">
  <h1>{{t 'wh.settings.data.importExport.title'}}</h1>
</section>

<section class="wh-content-edit">

  <p>{{t 'wh.settings.data.importExport.instruction'}}</p>

  {{#download-backup classNames="btn btn-neutral icon icon-download" text=""}}
    {{t 'wh.settings.data.importExport.action.export'}}
  {{/download-backup}}
  {{#select-file action='importJsonFile' accept='application/json' class="icon icon-upload"}} {{t 'wh.settings.data.importExport.action.import'}}{{/select-file}}

</section>

<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.api.title'}}</h1>
</section>

<section class="wh-content-edit">
  <p>{{t 'wh.settings.data.api.instruction'}}</p>

  <p><a href="http://www.webhook.com/docs/api-endpoints/">{{t 'wh.settings.data.api.docs'}}</a></p>

  <pre><code>{{t 'wh.settings.data.api.title'}}:    {{ apiKey }}</code></pre>

  <button class="btn btn-danger icon icon-remove-sign" {{action "refreshApi"}} {{bind-attr disabled=isRefreshingApi}}> {{#if isRefreshingApi}}{{t 'wh.settings.data.api.resetting'}} <span class="wy-spinner"></span>{{else}}{{t 'wh.settings.data.api.reset'}}{{/if}}</button>
</section>

<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.backups.title'}}</h1>
</section>

<section class="wh-content-edit">
  <h4>{{t 'wh.settings.data.backups.data.title'}}</h4>
  <p>{{t 'wh.settings.data.backups.data.instruction'}}</p>
  <ul class="wy-plain-list-disc">
    {{#each backup in model}}
      <li><a href="#" {{action "getBackup" backup}}>{{format-time backup.timestamp}}</a></li>
    {{/each}}
  </ul>

  <h4>{{t 'wh.settings.data.backups.templates.title'}}</h4>
  {{#unless buildEnvironment.selfHosted }}
    <p>{{t 'wh.settings.data.backups.templates.instruction'}}</p>
    <a class="btn btn-neutral icon icon-download" {{bind-attr download=downloadFileName}} {{bind-attr href=downloadLink}}> {{t 'wh.settings.data.backups.templates.action'}}</a>
  {{/unless}}

</section>


<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.wordpress.title'}}</h1>
</section>

<section class="wh-content-edit">

  <p>{{t 'wh.settings.data.wordpress.instruction'}}</p>

  {{#select-file action='importWordpressFile' accept='application/xml' class="icon icon-wordpress"}} {{t 'wh.settings.data.wordpress.action'}}{{/select-file}}

</section>


<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.search.title'}}</h1>
</section>

<section class="wh-content-edit">

  <p>{{t 'wh.settings.data.search.instruction'}}</p>

  <button class="btn btn-neutral icon icon-refresh" {{action "reindex"}}> {{t 'wh.settings.data.search.action'}}</button>

</section>

<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.data.reset.title'}}</h1>
</section>

<section class="wh-content-edit">
  {{#if buildEnvironment.local}}
    <p>{{t 'wh.settings.data.reset.instruction'}}</p>

    <div class="wy-control-group">
      <div class="wy-control">
        <label class="wy-radio">
          {{view "radio-button"
            name="deleteOptions"
            selection=deleteOption
            value="data"
          }}
          {{t 'wh.settings.data.reset.options.data'}}
        </label>

        <label class="wy-radio">
          {{view "radio-button"
            name="deleteOptions"
            selection=deleteOption
            value="everything"
          }}
          {{t 'wh.settings.data.reset.options.all'}}
        </label>
      </div>
    </div>
    <button class="btn btn-danger icon icon-remove-sign" {{action "deleteData"}} {{bind-attr disabled=isDeleting}}> {{#if isDeleting}}{{t 'wh.settings.data.reset.deleting'}} <span class="wy-spinner"></span>{{else}}{{#if isDeleteData}}{{t 'wh.settings.data.reset.action.deleteData'}}{{else}}{{t 'wh.settings.data.reset.action.deleteEverything'}}{{/if}}{{/if}}</button>
  {{else}}
    <p>{{t 'wh.settings.data.reset.warning'}}</p>
  {{/if}}
</section>
