<section class="wh-content-head">
  <h1>{{t 'wh.settings.domain.title'}}</h1>
</section>
<section class="wh-content-subhead">
  {{t 'wh.settings.domain.description' siteNameBinding="buildEnvironment.siteName"}}
  {{#if domain}}{{t 'wh.settings.domain.descriptionDomain' domainBinding="domain"}}{{/if}}
</section>
<section class="wh-content-edit">

  {{#if success }}

  <h2>{{t 'wh.settings.domain.success.title'}}</h2>

  <p>{{t 'wh.settings.domain.success.instruction'}}</p>

<pre class="hljs">
A-RECORD     @              174.129.25.170
CNAME        www            dns.webhook.com
</pre>

  <p>{{t 'wh.settings.domain.success.docs'}}</p>
  {{else}}
    {{#if session.billing.isTrial }}
      <h2>{{t 'wh.settings.domain.trial.title'}}</h2>
      <p>{{t 'wh.settings.domain.trial.instruction'}}</p>
      <a {{bind-attr href=session.billing.url}} class="btn btn-neutral icon icon-credit"> {{t 'wh.settings.domain.trial.upgrade'}}</a>
    {{else}}

    {{#if errors}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">{{t 'wh.settings.domain.error'}}</div>
        <ul>{{#each errors}}<li>{{this}}</li>{{/each}}</ul>
      </div>
    {{/if}}

    <form class="wy-form-stacked" {{action "updateDns" on="submit"}}>

      <h2>{{t 'wh.settings.domain.form.title'}}</h2>

      <p>{{t 'wh.settings.domain.form.instruction'}}</p>

      <hr>

      <div class="wy-control-group fluid-input">
        <label>{{t 'wh.settings.domain.form.label'}}</label>
        <div class="wy-control">
          {{input type="text" value=domain disabled=isSending class="wy-input-large" placeholder="example.com"}}
        </div>
      </div>

      <div class="wy-btn-group">
        <button class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled="isSending"}} > {{t 'wh.settings.domain.form.action'}}</button>
      </div>

    </form>
    {{/if}}
  {{/if}}

</section>
