<section class="wh-content-head">
  <h1>{{t 'wh.settings.domain.title'}}</h1>
</section>
<section class="wh-content-subhead">
  {{t 'wh.settings.domain.description' siteNameBinding="session.site.name"}}
  {{#if domain}}{{t 'wh.settings.domain.descriptionDomain' domainBinding="domain"}}{{/if}}
</section>
<section class="wh-content-edit">


  {{#if session.billing.isTrial }}
    <h2>{{t 'wh.settings.domain.trial.title'}}</h2>
    <p>{{t 'wh.settings.domain.trial.instruction'}}</p>
    <a {{bind-attr href=session.billing.url}} class="btn btn-neutral icon icon-credit"> {{t 'wh.settings.domain.trial.upgrade'}}</a>
  {{else}}

    {{#if failed}}
    <div class="wy-alert wy-alert-danger">
      <div class="wy-alert-title"><span class="icon icon-ok-sign"></span> Failed to verify domain</div>
      <p>The domain <a target="_blank" {{ bind-attr href="prefixedDomain" }}>{{ domain }}</a> was unable to be verified. Please check that the appropriate TXT record has been registered on your domain.</p>
    </div>
    {{/if}}

    {{#if success}}
    <div class="wy-alert wy-alert-success">
      <div class="wy-alert-title"><span class="icon icon-ok-sign"></span> Domain attached successfully</div>
      <p>The domain <a target="_blank" {{ bind-attr href="prefixedDomain" }}>{{ domain }}</a> correctly resolves to this Webhook site. No further steps are necessary.</p>
    </div>
    {{/if}}

    {{#if verifying}}
    <div class="wy-alert wy-alert-info">
      <div class="wy-alert-title"><span class="icon icon-ok-sign"></span> Domain use pending</div>
      <p>The domain <a target="_blank" {{ bind-attr href="prefixedDomain" }}>{{ domain }}</a> is currently being processed for use on this Webhook site. Domain changes can often take serveral hours so please give it time.</p>
    </div>
    {{/if}}


    <!-- ONLY SHOW THIS FORM IF NOTHING IS SET OR THEY CLICKED THE EDIT LINK ABOVE. -->

    <form class="wy-form-stacked" {{action "updateDns" on="submit"}}>

      <h3>Attach a domain to this site</h3>

      <p>{{t 'wh.settings.domain.form.instruction'}}</p>

      <hr>

      <div {{ bind-attr class=":wy-control-group :fluid-input error:wy-control-group-error" }}>
        <label>1. {{t 'wh.settings.domain.form.label'}}</label>
        <div class="wy-control">
          {{input type="text" value=domain disabled=isSending class="wy-input-large" placeholder="example.com"}}
          {{#if error }}<span class="wy-form-message">{{ error }}</span>{{/if}}
        </div>
      </div>

      <div class="wy-control-group fluid-input">
        <div class="wy-control">
          <label>2. Edit your host name records with the following values:</label>
{{#if subdomain }}
  {{# if showRedirector }}
<pre class="hljs">
A-RECORD     {{ showRedirector }}174.129.25.170
CNAME        {{ subdomain }}dns.webhook.com
TXT          {{ secretSubdomain }}webhook-site-verification={{ session.site.name }}
</pre>
  {{else}}
<pre class="hljs">
CNAME        {{ subdomain }}dns.webhook.com
TXT          {{ secretSubdomain }}webhook-site-verification={{ session.site.name }}
</pre>
  {{/if}}
{{else}}
<pre class="hljs">
CNAME        @                                      dns.webhook.com
TXT          _wh                                    webhook-site-verification={{ session.site.name }}
</pre>
{{/if}}
            <p>{{t 'wh.settings.domain.success.docs'}}</p>
        </div>
          <button class="btn btn-success icon icon-ok-sign" {{bind-attr disabled="isSending"}} > {{t 'wh.settings.domain.form.action'}}</button>
      </div>
    </form>


  {{/if}}

</section>
