<h1>Domains</h1>

<p>
  Your site is currently available at
  {{buildEnvironment.siteName}}.webhook.org and {{ domain }}
</p>

<hr/>

{{#if success }}

<h2>Almost done</h2>

<p>Great. Point your host records to the following address.</p>

<pre class="hljs">
A-RECORD     @              174.129.25.170
CNAME        www            dns.webhook.com
</pre>
{{else}}
<form class="wy-form-stacked" {{action "updateDns" on="submit"}}>

  <h2>Use a previously purchased domain</h2>

  <p>
    Don't have a domain? Buy one over at <a href="http://www.namecheap.com/?aff=65093">Namecheap</a> or any domain seller, then return here.
  </p>

  <div class="wy-control-group fluid-input">
    <label>Enter your domain name</label>
    <div class="wy-control">
      {{input type="text" value=domain disabled=isSending class="wy-input-large" placeholder="example.com"}}
    </div>
  </div>

  <div class="wy-btn-group">
    <button class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled="isSending"}} > Use this domain</button>
  </div>

</form>
{{/if}}

