{{#each supportedLanguages}}<button type="button" {{action "chooseLanguage" code}}>{{language}}</button>{{/each}}

<section class="wh-content-head">
  <h1>{{t 'wh.settings.general.account.title'}}</h1>
</section>

<section class="wh-content-edit">
  <div class="wy-control-group">
    <label>{{t 'wh.settings.general.account.password.prompt'}}</label>
    <div class="wy-control">
      {{#link-to 'wh.settings.password-change' class="btn btn-neutral icon icon-lock"}} {{t 'wh.settings.general.account.password.action'}}{{/link-to}}
    </div>
  </div>
</section>

<section class="wh-content-head wh-content-head-again">
  <h1>{{t 'wh.settings.general.global.title'}}</h1>
</section>

<section class="wh-content-subhead">
  {{t 'wh.settings.general.global.description'}}
</section>

<section class="wh-content-edit">

  <form {{action "saveSettings" on="submit"}}>
    <fieldset>
      <div class="wy-control-group">
        <label>{{t 'wh.settings.general.global.fields.name.label'}}</label>
        <div class="wy-control">
          {{input value=model.siteName disabled=model.isSaving}}
        </div>
      </div>
      <div class="wy-control-group">
        <label>{{t 'wh.settings.general.global.fields.description.label'}}</label>
        <div class="wy-control">
          {{textarea value=model.siteDescription disabled=model.isSaving}}
        </div>
        <span class="wy-form-message">{{t 'wh.settings.general.global.fields.description.help'}}</span>
      </div>
      <div class="wy-control-group">
        <label>{{t 'wh.settings.general.global.fields.keywords.label'}}</label>
        <div class="wy-control">
          {{textarea value=model.siteKeywords disabled=model.isSaving}}
        </div>
        <span class="wy-form-message">{{t 'wh.settings.general.global.fields.keywords.help'}}</span>
      </div>
      <div class="wy-control-group">
        <label>{{t 'wh.settings.general.global.fields.url.label'}}</label>
        <div class="wy-control">
          {{input value=model.siteUrl disabled=model.isSaving placeholder="http://www.example.com"}}
        </div>
        <span class="wy-form-message">{{t 'wh.settings.general.global.fields.url.help'}}</span>
      </div>
      <div class="wy-control-group">
        <label>{{t 'wh.settings.general.global.fields.analytics.label'}}</label>
        <div class="wy-control">
          {{input value=model.analyticsId disabled=model.isSaving}}
        </div>
        <span class="wy-form-message">{{t 'wh.settings.general.global.fields.analytics.help'}}</span>
      </div>
      <div class="wy-control-group">
        <label>{{t 'wh.settings.general.global.fields.twitter.label'}}</label>
        <div class="wy-control">
          {{input value=model.siteTwitter disabled=model.isSaving}}
        </div>
        <span class="wy-form-message">{{t 'wh.settings.general.global.fields.twitter.help'}}</span>
      </div>
      <div class="wy-control-group">
        <label>{{t 'wh.settings.general.global.fields.facebook.label'}}</label>
        <div class="wy-control">
          {{input value=model.siteFacebook disabled=model.isSaving}}
        </div>
        <span class="wy-form-message">{{t 'wh.settings.general.global.fields.facebook.help'}}</span>
      </div>
      <button type="submit" class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled=model.isSaving}}> {{t 'wh.settings.general.global.action'}}</button>
    </fieldset>
  </form>

</section>
