<form class="wy-form-stacked" {{action "changePassword" on="submit"}}>

  <h1>{{t 'wh.settings.password.title'}}</h1>

  <hr>

  <div class="wy-control-group">
    <label>{{t 'wh.settings.password.fields.account.label'}}</label>
    <div class="wy-control">
      {{session.user.email}}
    </div>
  </div>

  {{#if errors}}
    <div class="wy-alert wy-alert-warning">
      <div class="wy-alert-title">{{t 'wh.settings.password.error.fix'}}</div>
      <ul>{{#each errors}}<li>{{this}}</li>{{/each}}</ul>
    </div>
  {{/if}}

  {{#if success}}
    <div class="wy-alert wy-alert-success">
      {{success.message}}
    </div>
  {{/if}}

  <div class="wy-control-group wy-control-group-required">
    <label>{{t 'wh.settings.password.fields.oldPassword.label'}}</label>
    <div class="wy-control">
      {{input type="password" value=oldPassword disabled=isLoading}}
    </div>
  </div>
  <div class="wy-control-group wy-control-group-required">
    <label>{{t 'wh.settings.password.fields.newPassword.label'}}</label>
    <div class="wy-control">
      {{input type="password" value=newPassword disabled=isLoading}}
    </div>
  </div>
  <div {{bind-attr class=":wy-control-group passwordMatches::wy-control-group-error"}}>
    <label>{{t 'wh.settings.password.fields.newPassword2.label'}}</label>
    <div class="wy-control">
      {{input type="password" value=newPassword2 disabled=isLoading}}
      {{#unless passwordMatches}}<span class="wy-form-message">{{t 'wh.settings.password.error.match'}}</span>{{/unless}}
    </div>
  </div>
  <div class="wy-btn-group">
    <button class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled="isLoading"}}> {{t 'wh.settings.password.action'}}</button>
  </div>

</form>
