  <form class="wy-form-stacked" {{action "changePassword" on="submit"}}>

    <h1>Change password</h1>

    <hr/>

    <div class="wy-control-group">
      <label>Account to change</label>
      <div class="wy-control">
        {{session.user.email}}
      </div>
    </div>

    {{#if errors}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">Please fix the following errors.</div>
        <ul>{{#each errors}}<li>{{this}}</li>{{/each}}</ul>
      </div>
    {{/if}}

    {{#if success}}
      <div class="wy-alert wy-alert-success">
        {{success.message}}
      </div>
    {{/if}}

    <div class="wy-control-group wy-control-group-required">
      <label>Old password</label>
      <div class="wy-control">
        {{input type="password" value=oldPassword disabled=isLoading}}
      </div>
    </div>
    <div class="wy-control-group wy-control-group-required">
      <label>New password</label>
      <div class="wy-control">
        {{input type="password" value=newPassword disabled=isLoading}}
      </div>
    </div>
    <div {{bind-attr class=":wy-control-group passwordMatches::wy-control-group-error"}}>
      <label>New password (repeat)</label>
      <div class="wy-control">
        {{input type="password" value=newPassword2 disabled=isLoading}}
        {{#unless passwordMatches}}<span class="wy-form-message">Passwords must match.</span>{{/unless}}
      </div>
    </div>
    <div class="wy-btn-group">
      <button class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled="isLoading"}}> Save</button>
    </div>
  </form>

