<h1>Invite a new team member</h1>

<form class="wy-aligned">
  <div class="wy-control-group">
    <label>Invite a new collaborator by email</label>
    {{input type="email" required="required" value=inviteEmail }}
    <div class="wy-form-message">The person will not be active until they verify their email address.</div>
  </div>
  <div class="wy-btn-group">
    <button class="btn btn-neutral icon icon-user" {{ action "sendInvite" }}> Send invite</button>
  </div>

  {{#if error}}
    <div class="wy-alert wy-alert-warning">
      <div class="wy-alert-title">{{ error.code }}</div>
      {{error.essage}}
    </div>
  {{/if}}

</form>

<hr/>

<h1>Current team members</h1>

<div class="wy-alert wy-alert-info">
  <div class="wy-alert-title">Persmissions</div>
  Owners have access to billing and other site settings. Contributors can only access the content creation tools in the CMS.
</div>

<table class="wy-table wy-table-bordered-rows full-width">
  <thead>
    <tr>
      <th>Email</th>
      <th>Permissions</th>
    </tr>
  </thead>
  <tbody>

    {{#each user in allUsers }}
      <tr>
        <td>{{ user.email }}</td>
        <td>
          {{#if user.owner }}
          <div class="wy-dropdown wy-dropdown-bubble">
            <span class="btn btn-neutral icon icon-lock"> Owner <span class="caret"></span</span>
            <dl class="wy-dropdown-menu">
              <dd><a href="" {{ action "makeUser" user }}>Change to contributor</a></dd>
              <dd><a href="" {{ action "removeUser" user }}>Remove access entirely</a></dd>
            </dl>
          </div>
          {{/if}}
          {{#if user.user }}
            <div class="wy-dropdown wy-dropdown-bubble">
              <span class="btn btn-neutral icon icon-lock"> Contributor <span class="caret"></span</span>
              <dl class="wy-dropdown-menu">
                <dd><a href="" {{ action "makeOwner" user }}>Change to owner</a></dd>
                <dd><a href="" {{ action "removeUser" user }}>Remove access entirely</a></dd>
              </dl>
            </div>
          {{/if}}
          {{#if user.potential }}
            Waiting on verification (<a href="" class="icon icon-remove-sign" {{ action "removePotential" user }}> Cancel invite</a>)
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
