<section class="wh-content-head">
  <h1>{{t 'wh.settings.team.current.title'}}</h1>
</section>
<section class="wh-content-subhead">
  {{t 'wh.settings.team.current.description'}}
</section>

<section class="wh-content-edit">

  <form class="wy-aligned">
    {{#if session.isDeployed}}
      <div class="wy-control-group">
        <label>{{t 'wh.settings.team.invite.instruction'}}</label>
        {{input type="email" required="required" value=inviteEmail }}
        <div class="wy-form-message">{{t 'wh.settings.team.invite.help'}}</div>
      </div>
      <div class="wy-btn-group">
        <button class="btn btn-neutral icon icon-user" {{ bind-attr disabled=isInvalidEmail }} {{ action "sendInvite" }}> {{t 'wh.settings.team.invite.action'}}</button>
      </div>
    {{else}}
      <div class="wy-alert wy-alert-danger">
        <div class="wy-alert-title">{{t 'wh.settings.team.deploy.title'}}</div>
        <p>{{t 'wh.settings.team.deploy.instruction'}}</p>
      </div>
    {{/if}}


    {{#if error}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">{{ error.code }}</div>
        {{error.message}}
      </div>
    {{/if}}

  </form>

  <table class="wy-table wy-table-bordered-rows full-width">
    <thead>
      <tr>
        <th>{{t 'wh.settings.team.current.email'}}</th>
        <th>{{t 'wh.settings.team.current.permissions'}}</th>
      </tr>
    </thead>
    <tbody>

      {{#each user in filteredContent}}
        <tr>
          <td>{{ user.email }}</td>
          <td>

            {{#if user.potential }}
              {{t 'wh.settings.team.current.waiting'}} (<a href="" class="icon icon-remove-sign" {{ action "removePotential" user }}> {{t 'wh.settings.team.current.cancel'}}</a>)
            {{else}}
              <div class="wy-dropdown wy-dropdown-bubble">
                <span class="btn btn-neutral icon icon-lock">
                  {{#if user.owner}}
                    {{t 'wh.settings.team.current.owner'}}
                  {{else}}
                    {{#if user.group}}
                      {{user.group.name}}
                    {{else}}
                      {{t 'wh.settings.team.current.contributor'}}
                    {{/if}}
                  {{/if}}
                  <span class="caret"></span>
                </span>
                <dl class="wy-dropdown-menu">
                  <dd><a href="" {{ action "userToGroup" user "owner" }}>{{t 'wh.settings.team.current.toOwner'}}</a></dd>
                  <dd><a href="" {{ action "userToGroup" user "user" }}>{{t 'wh.settings.team.current.toContributor'}}</a></dd>
                  {{#each group in groups}}
                    <dd><a href="" {{ action "userToGroup" user group }}>Change to {{group.name}}</a></dd>
                  {{/each}}
                  <dd><a href="" {{ action "removeUser" user }}>{{t 'wh.settings.team.current.remove'}}</a></dd>
                </dl>
              </div>
            {{/if}}

          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>
</section>

<section class="wh-content-head wh-content-head-again">
  Manage group permissions
  <a class="btn btn-small btn-preview btn-success icon icon-plus-sign"> Add new group</a>
  <!-- TODO: Remove this tran 'wh.settings.team.invite.title'}} -->
</section>

<section class="wh-content-edit">


  <div class="wy-alert">
    Use groups to restrict access to portions of your CMS. Webhook's two default groups (owners and editors) can not be edited.</p>
  </div>

  {{input action="createGroup"}}

  <ul class="wh-group">
    <li>
      <span class="wh-group-name">Owners</span>
      <span class="wh-group-info">Full permissions</span>
    </li>
    <li>
      <span class="wh-group-name">Editors</span>
      <span class="wh-group-info">Full permissions, minus configuration.</span>
    </li>

    {{#each group in groups}}
      <li {{ bind-attr class="group.isOpen:active"}}>
        {{#if group.isOpen}}
          <div class="wh-group-edit">
            <div>{{group.name}} <span>(<a>Edit name</a>)</span></div>
            <a class="btn btn-small btn-neutral icon icon-ok-sign float-right" {{action "closeGroup" group}}> Close</a>
          </div>
          <ul class="wh-group-labels">
            <li></li><li>Can view</li><li>Can draft</li><li>Can publish</li><li>Can delete</li>
          </ul>
          {{view 'group-permissions' content=contentTypes group=group}}
        {{else}}
          <span class="wh-group-name">{{group.name}}</span>
          <span class="wh-group-info">Mixed permissions. <a {{action "openGroup" group}}>Click to edit</a></span>
          <span><a {{action "deleteGroup" group}}>Delete</a></span>
        {{/if}}
      </li>
    {{/each}}
  </ul>

</section>
