<section class="wh-content-head">
  <h1>{{t 'wh.settings.team.current.title'}}</h1>
</section>
<section class="wh-content-subhead">
  {{t 'wh.settings.team.current.description'}}
</section>

<section class="wh-content-edit">

  <form class="wy-aligned">
    {{#if session.isDeployed}}
      <div class="wy-control-group">
        <label>{{t 'wh.settings.team.invite.instruction'}}</label>
        {{input type="email" required="required" value=inviteEmail }}
        <div class="wy-form-message">{{t 'wh.settings.team.invite.help'}}</div>
      </div>
      <div class="wy-btn-group">
        <button class="btn btn-neutral icon icon-user" {{ bind-attr disabled=isInvalidEmail }} {{ action "sendInvite" }}> {{t 'wh.settings.team.invite.action'}}</button>
      </div>
    {{else}}
      <div class="wy-alert wy-alert-danger">
        <div class="wy-alert-title">{{t 'wh.settings.team.deploy.title'}}</div>
        <p>{{t 'wh.settings.team.deploy.instruction'}}</p>
      </div>
    {{/if}}


    {{#if error}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">{{ error.code }}</div>
        {{error.message}}
      </div>
    {{/if}}

  </form>

  <table class="wy-table wy-table-bordered-rows full-width">
    <thead>
      <tr>
        <th>{{t 'wh.settings.team.current.email'}}</th>
        <th>{{t 'wh.settings.team.current.permissions'}}</th>
      </tr>
    </thead>
    <tbody>

      {{#each user in filteredContent}}
        <tr>
          <td>{{ user.email }}</td>
          <td>
            {{#if user.owner }}
            <div class="wy-dropdown wy-dropdown-bubble">
              <span class="btn btn-neutral icon icon-lock"> {{t 'wh.settings.team.current.owner'}} <span class="caret"></span</span>
              <dl class="wy-dropdown-menu">
                <dd><a href="" {{ action "makeUser" user }}>{{t 'wh.settings.team.current.toContributor'}}</a></dd>
                <dd><a href="" {{ action "removeUser" user }}>{{t 'wh.settings.team.current.remove'}}</a></dd>
              </dl>
            </div>
            {{/if}}
            {{#if user.user }}
              <div class="wy-dropdown wy-dropdown-bubble">
                <span class="btn btn-neutral icon icon-lock"> {{t 'wh.settings.team.current.contributor'}} <span class="caret"></span</span>
                <dl class="wy-dropdown-menu">
                  <dd><a href="" {{ action "makeOwner" user }}>{{t 'wh.settings.team.current.toOwner'}}</a></dd>
                  <dd><a href="" {{ action "removeUser" user }}>{{t 'wh.settings.team.current.remove'}}</a></dd>
                </dl>
              </div>
            {{/if}}
            {{#if user.potential }}
              {{t 'wh.settings.team.current.waiting'}} (<a href="" class="icon icon-remove-sign" {{ action "removePotential" user }}> {{t 'wh.settings.team.current.cancel'}}</a>)
            {{/if}}
          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>
</section>

<section class="wh-content-head wh-content-head-again">
  Manage group permissions
  <a class="btn btn-small btn-preview btn-success icon icon-plus-sign"> Add new group</a>
  <!-- TODO: Remove this tran 'wh.settings.team.invite.title'}} -->
</section>

<section class="wh-content-edit">

  <div class="wy-alert">
    Use groups to restrict access to portions of your CMS. Webhook's two default groups (owners and editors) can not be edited.</p>
  </div>
  <ul class="wh-group">
    <li>
      <span class="wh-group-name">Owners</span>
      <span class="wh-group-info">Full permissions</span>
    </li>
    <li>
      <span class="wh-group-name">Editors</span>
      <span class="wh-group-info">Full permissions, minus configuration.</span>
    </li>
    <li class="active">
      <div class="wh-group-edit">
        <div>Sports editors <span>(<a>Edit name</a>)</span></div>
        <a class="btn btn-small btn-neutral icon icon-ok-sign float-right"> Save / close</a>
      </div>
      <ul class="wh-group-labels">
        <li></li><li>Can view</li><li>Can draft</li><li>Can publish</li><li>Can delete</li>
      </ul>
      <ul class="wh-group-perms">
        <li><span>Articles</span></li><li class="active"></li><li class="active"></li><li class="active"></li><li></li>
      </ul>
      <ul class="wh-group-perms">
        <li><span>Videos</span></li><li></li><li></li><li></li><li></li>
      </ul>
      <ul class="wh-group-perms">
        <li><span>Promos</span></li><li class="active"></li><li class="active"></li><li></li><li></li>
      </ul>

      <ul class="wh-group-labels">
        <li></li><li>Can view</li><li>Can edit</li>
      </ul>
      <ul class="wh-group-perms">
        <li><span>Single item form</span></li><li class="active"></li><li class="active"></li>
      </ul>
      <ul class="wh-group-perms">
        <li><span>Another single item</span></li><li></li><li></li>
      </ul>
    </li>
    <li>
      <span class="wh-group-name">News editors</span>
      <span class="wh-group-info">Mixed permissions. <a>Click to edit</a></span>
    </li>
    <li>
      <span class="wh-group-name">Random group</span>
      <span class="wh-group-info">Mixed permissions. <a>Click to edit</a></span>
    </li>
  </ul>

</section>
