<section class="wh-content-head">
 {{t 'wh.settings.urls.title'}}
</section>

<section class="wh-content-edit">
  <div class="wy-alert">
    <div class="wy-alert-title">{{t 'wh.settings.urls.infoTitle'}}</div>
    <p>
      {{t 'wh.settings.urls.infoMessage'}}
    </p>
    <ul class="wy-plain-list-disc">
      <li>{{t 'wh.settings.urls.infoRuleOne'}}</li>
      <li>{{t 'wh.settings.urls.infoRuleTwo'}}</li>
    </ul>
  </div>

  {{#unless domain}}
    <div class="wy-alert wy-alert-warning">
      <div class="wy-alert-title">{{t 'wh.settings.urls.noDomainTitle'}}</div>
      <p>{{t 'wh.settings.urls.noDomainMessage'}}</p>
    </div>
  {{/unless}}

  <table class="wy-table wy-table-bordered-all wy-table-striped wh-table-tabular">
    <thead>
      <tr>
        <th></th>
        <th>{{t 'wh.settings.urls.tableRedirect'}}</th>
        <th>{{t 'wh.settings.urls.tableDestination'}}</th>
        <th></th>
      </tr>
    </thead>
    {{view 'sortable-redirect-rules' content=arrangedContent}}
  </table>

  <button class="btn btn-link btn-small icon icon-plus-sign" {{action 'addRedirect'}}> {{t 'wh.settings.urls.tableAddRow'}}</button>

  <hr/>

  <button class="btn btn-success icon icon-ok-sign" {{action 'saveRedirects'}} {{ bind-attr disabled=isSaveDisabled }}> {{t 'wh.settings.urls.action'}}</button>

</section>
