<ul class="wy-tray-container on">
  {{#each notifications}}
    <li {{bind-attr class="className extraClassName state"}} style="display: block;">
      <span {{bind-attr class="iconClass"}}> {{message}}</span>
    </li>
  {{/each}}
</ul>

<div {{bind-attr class=":wh-server-down buildEnvironment.localSocket.lostConnection:on"}}>
  <div class="wh-server-down-content">
    <h1>Restart your runserver, then refresh</h1>
    <p><a href="/cms/" target="_blank">Or just click here when you've restarted</a></p>
    <p>
      Your local runserver died most likely because of a template error in your frontend code. Unfortunately, this
      means that saves you make in the current tab will not regererate the site until you refresh this page AFTER
      you've restarted your runserver. It's a shitty bug, and we're fixing it. For now, bear with us.
    </p>
  </div>

</div>

{{outlet}}
