<ul class="wy-tray-container on">
  {{#each notifications}}
    <li {{bind-attr class="className extraClassName state"}} style="display: block;">
      <span {{bind-attr class="iconClass"}}> {{message}}</span>
    </li>
  {{/each}}
</ul>
<div class="wh-online-users" data-toggle="wh-online-users">
  <dl>
    {{#each onlineUsers}}
      <dd>{{this}}</dd>
    {{/each}}
  </dl>
  <div class="icon icon-user"> {{onlineUsers.length}}</div>
</div>

{{outlet}}
