<div class="wh-login">
  <div class="wh-logo"></div>
  <form class="wy-form-stacked" {{action "createUser" on="submit"}}>

    {{#if error}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">{{error.code}}</div>
        {{error.message}}
      </div>
    {{/if}}

    {{#if success}}
      <div class="wy-alert wy-alert-success">
        {{success}}
      </div>
    {{/if}}

    <div class="wy-control-group fluid-input">
      <label>Email</label>
      <div class="wy-control">
        <span>{{email}}</span>
      </div>
    </div>
    <div class="wy-control-group fluid-input">
      <label>Password</label>
      <div class="wy-control">
        {{input type="password" value=password}}
      </div>
    </div>
    <div {{bind-attr class=":wy-control-group :fluid-input passwordMatches::wy-control-group-error"}}>
      <label>Password again</label>
      <div class="wy-control">
        {{input type="password" value=password2}}
        {{#unless passwordMatches}}<span class="wy-form-message">You idiot, passwords need to match.</span>{{/unless}}
      </div>
    </div>
    <div class="wy-btn-group">
      <button class="btn icon icon-user"> Create account</button>
    </div>
  </form>
</div>
