<div class="wh-form-builder">
  <div class="wy-grid-for-nav">

    {{partial "form/nav"}}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      <!-- MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE -->
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-bars"></i>
        <a href="">Webhook</a>
      </nav>

      <!-- PAGE CONTENT -->
      <div class="wy-nav-content">

        <form class="wy-form-stacked" {{action updateType on="submit"}}>
          <fieldset>
            <h2 class="wh-form-builder-title" data-toggle="tooltip" data-placement="left" title="Click to edit object title.">{{name}}</h2>

            {{#each errors.fields}}
              <span class="wy-form-message">{{this}}</span>
            {{/each}}

            {{#each control in controls}}
              {{formbuilder-widget control=control editingControl=editingControl doEdit="editControl"}}
            {{/each}}

          </fieldset>

          <div class="wh-form-builder-save wy-btn-group">
            <button class="btn btn-link icon icon-question-sign"> Help</button>
            <button type="submit" class="btn btn-success icon icon-ok-sign float-right"> Save form</button>
            <button type="button" class="btn btn-link btn-back-to-cms icon icon-remove-sign float-right" {{action quitForm}}> Quit and return to the CMS</button>

          </div>

        </form>

      </div>

    </section>

  </div>
</div>
