<div class="wh-form-builder-mobile">
  <h3>Wait... what, your phone?</h3>
  <img src="/assets/images/robot.png">
  <p>
    Webhook's form builder is a little too complex for
    mobile devices at the moment. Feel free to blame Dave
    the "designer" for not thinking up a clever solution.
    Right now he's probably playing videogames and not
    thinking about this at all. Pssh... Dave.
  </p>
  <button type="button" class="btn icon icon-circle-arrow-left" {{action "quitForm"}}> Take me back</button>
</div>

<div class="wh-form-builder">
  <div class="wy-grid-for-nav">

    {{partial "form/nav"}}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      <!-- MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE -->
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
        <a href="">Webhook</a>
      </nav>

      <!-- PAGE CONTENT -->
      <div class="wy-nav-content">

        <form class="wy-form-stacked" {{action "updateType" on="submit"}}>
          <fieldset>

            <h2 class="wh-form-builder-title wh-form-builder-title-set" data-toggle="tooltip" data-placement="left" title="Click to edit the name and URL structure for this content type." {{action 'editTypeId'}}>{{name}}</h2>

            {{#each errors.fields}}
              <span class="wy-form-message">{{this}}</span>
            {{/each}}

            {{collection "formbuilder" content=controls}}
          </fieldset>

          <div class="wh-form-builder-save wy-btn-group">
            <a href="https://vimeo.com/98492453" target="_blank" class="btn btn-link icon icon-question-sign" data-toggle="tooltip" title="Watch a tutorial video about the form builder."> Help</a>
            <button type="submit" class="btn btn-success icon icon-ok-sign float-right"> Save form</button>
            <button type="button" class="btn btn-link btn-back-to-cms icon icon-remove-sign float-right" {{action "quitForm"}}> Cancel / Return to CMS</button>
          </div>

        </form>

      </div>

    </section>

  </div>
</div>

{{webhook-modal
  show=initialScaffoldingPrompt
  modalTemplate="form/initialscaffolding"
  confirm="acknoledgeScaffolding"
  contentType=model
  canClose=false
  buildEnvironment=buildEnvironment
}}

{{webhook-modal
  show=scaffoldingPrompt
  modalTemplate="form/scaffolding"
  confirm="forceScaffolding"
  cancel="abortScaffolding"
  contentType=model
  canClose=false
  buildEnvironment=buildEnvironment
}}

{{webhook-modal
  show=confirmChangedControlsPrompt
  modalTemplate="form/changedcontrols"
  confirm="confirmChangedControls"
  cancel="rejectChangedControls"
}}
