<div class="wh-form-builder">
  <div class="wy-grid-for-nav">

    {{ partial "form/nav" }}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      <!-- MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE -->
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
        <a href="">Webhook</a>
      </nav>

      <!-- PAGE CONTENT -->
      <div class="wy-nav-content">

        <form class="wy-form-stacked" {{action updateType on="submit"}}>
          <fieldset>
            <h2 class="wh-form-builder-title" data-toggle="tooltip" data-placement="left" title="Click to edit object title.">{{name}}</h2>

            {{#each errors.fields}}
              <span class="wy-form-message">{{this}}</span>
            {{/each}}

            {{#each field in fields}}
              {{formbuilder-widget field=field editingField=editingField doEdit="editField"}}
            {{/each}}

          </fieldset>

          <div class="wh-form-builder-save wy-btn-group">
            <button type="submit" class="btn icon icon-ok-sign float-right"> Save form</button>
            <button type="button" class="btn btn-neutral icon icon-remove-sign float-right"> Quit</button>

            {{#link-to "index" class="wh-logo"}}{{/link-to}}
            {{#link-to "index" class="icon icon-arrow-left"}} Back to the CMS{{/link-to}}
          </div>

        </form>

      </div>

    </section>

  </div>
</div>
