<div class="wh-form-builder">
  <div class="wy-grid-for-nav">

    {{ partial "form/nav" }}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      <!-- MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE -->
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
        <a href="">Webhook</a>
      </nav>

      <!-- PAGE CONTENT -->
      <div class="wy-nav-content">

        <form class="wy-form-stacked" {{action updateType on="submit"}}>
          <fieldset>
            <h2 class="wh-form-builder-title" data-toggle="tooltip" data-placement="left" title="Click to edit object title.">{{name}}</h2>

            {{!-- <div {{bind-attr class=":wy-control-group errors.name.length:wy-control-group-error"}}>
              <label>Form Name</label>
              <div class="wy-control">
                {{view Ember.TextField
                  onEvent="keyUp"
                  action="lowerName"
                  value=name
                  placeholder="ex: articles"
                }}
                <span class="wy-form-message">Pages built from this will live at /{{#if name}}{{name}}{{else}}articles{{/if}}/.</span>
                {{#each errors.name}}
                  <span class="wy-form-message">{{this}}</span>
                {{/each}}
              </div>
            </div> --}}

            {{#each errors.fields}}
              <span class="wy-form-message">{{this}}</span>
            {{/each}}

            {{#each field in fields}}
              {{formbuilder-widget field=field editingField=editingField doEdit="editField"}}
              {{!-- {{partial type.partialPath}} --}}
              {{!-- <div class="wy-control-group">
                <label>{{type.name}}</label>
                <div class="wy-control">
                  {{input value=name placeholder="name"}}<br>
                  {{#each errors.name}}
                    <span class="wy-form-message">{{this}}</span>
                  {{/each}}
                  <label>{{input type="checkbox" checked=showInCms}} Show in CMS</label><br>
                  {{input value=label placeholder="label"}}<br>
                  {{input value=placeholder placeholder="placeholder"}}<br>
                  {{input value=help placeholder="help text"}}
                </div>
              </div> --}}
            {{/each}}

          </fieldset>

          <div class="wh-form-builder-save wy-btn-group">
            <button type="submit" class="btn icon icon-ok-sign float-right"> Save form</button>
            <button type="button" class="btn btn-neutral icon icon-remove-sign float-right"> Quit</button>

            {{#link-to "index" class="wh-logo"}}{{/link-to}}
            {{#link-to "index" class="icon icon-arrow-left"}} Back to the CMS{{/link-to}}
          </div>

        </form>

      </div>

    </section>

  </div>
</div>
