<div class="wh-login">
  <div {{bind-attr class=":wh-logo isLoading:wh-logo-spinner"}}></div>
  <form class="wy-form-stacked" {{action "loginUser" on="submit"}}>

    {{#if session.error}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">{{session.error.code}}</div>
        {{session.error.message}}
      </div>
    {{/if}}

    <div class="wy-control-group fluid-input">
      <label>{{t "login.email"}}</label>
      <div class="wy-control">
        {{input type="email" value=email name='email' disabled=isLoading}}
      </div>
    </div>
    <div class="wy-control-group fluid-input">
      <label>{{t "login.password"}}</label>
      <div class="wy-control">
        {{input type="password" value=password name='password' disabled=isLoading}}
      </div>
    </div>

    <div class="wy-btn-group">
      <button class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled="isLoading"}}> {{t "login.signIn"}}</button>
      {{#link-to 'password-reset' classNames='btn btn-small btn-link'}}{{t "login.forgotPassword"}}{{/link-to}}
    </div>

    {{#each supportedLanguages}}<button type="button" {{action "chooseLanguage" this}}>{{this}}</button>{{/each}}

  </form>
</div>
