<div class="wh-login">
  <div class="wh-logo wh-logo-spinner"></div>
  <form class="wy-form-stacked" {{action loginUser on="submit"}}>

    {{#if session.error}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">{{session.error.code}}</div>
        {{session.error.message}}
      </div>
    {{/if}}

    <div class="wy-control-group fluid-input">
      <label>Email</label>
      <div class="wy-control">
        {{input type="email" value=email}}
      </div>
    </div>
    <div class="wy-control-group fluid-input">
      <label>Password</label>
      <div class="wy-control">
        {{input type="password" value=password}}
      </div>
    </div>

    <div class="wy-btn-group">
      <button class="btn btn-neutral fa fa-check-circle"> Sign in{{#if isLoading}} <div class="wy-spinner"></div>{{/if}}</button>
      {{#link-to 'password-reset' classNames='btn btn-small btn-link'}}Forgot password?{{/link-to}}
    </div>

  </form>
</div>
