<div class="wh-login">
  <div class="wh-logo"></div>
  <div class="wy-alert wy-alert-info">
    Provide your email to reset your password.
  </div>
  {{#if error}}
    <div class="wy-alert wy-alert-warning">
      <div class="wy-alert-title">{{error.code}}</div>
      {{error.message}}
    </div>
  {{/if}}
  {{#if success}}
    <div class="wy-alert wy-alert-warning">
      Password reset email sent successfully
    </div>
  {{/if}}
  <form class="wy-form-stacked" {{action resetPassword on="submit"}}>
    <div class="wy-control-group fluid-input">
      <label>Email</label>
      <div class="wy-control">
        {{input type="email" value=email disabled=isSending}}
      </div>
    </div>
    <div class="wy-btn-group">
      <button class="btn icon icon-refresh" {{bind-attr disabled=isSending}}> Reset password</button>
      {{#link-to 'login' classNames='btn btn-small btn-link'}}Take me back to login{{/link-to}}
    </div>
  </form>
</div>

