<div class="wh-login">
  <div {{bind-attr class=":wh-logo isLoading:wh-logo-spinner"}}></div>
  <form class="wy-form-stacked" {{action "changePassword" on="submit"}}>

    <div class="wy-control-group fluid-input">
      <label>Change password for</label>
      <div class="wy-control">
        {{session.user.email}}
      </div>
    </div>

    {{#if errors}}
      <div class="wy-alert wy-alert-warning">
        <div class="wy-alert-title">Please fix the following errors.</div>
        <ul>{{#each errors}}<li>{{this}}</li>{{/each}}</ul>
      </div>
    {{/if}}

    {{#if success}}
      <div class="wy-alert wy-alert-success">
        {{success.message}}
      </div>
    {{/if}}

    <div class="wy-control-group wy-control-group-required fluid-input">
      <label>Old password</label>
      <div class="wy-control">
        {{input type="password" value=oldPassword disabled=isLoading}}
      </div>
    </div>
    <div class="wy-control-group wy-control-group-required fluid-input">
      <label>New password</label>
      <div class="wy-control">
        {{input type="password" value=newPassword disabled=isLoading}}
      </div>
    </div>
    <div {{bind-attr class=":wy-control-group :fluid-input passwordMatches::wy-control-group-error"}}>
      <label>New password (repeat)</label>
      <div class="wy-control">
        {{input type="password" value=newPassword2 disabled=isLoading}}
        {{#unless passwordMatches}}<span class="wy-form-message">Passwords must match.</span>{{/unless}}
      </div>
    </div>
    <div class="wy-btn-group">
      <button class="btn icon icon-ok-sign" {{bind-attr disabled="isLoading"}}> Save</button>
      {{#link-to 'wh.content' classNames='btn btn-small btn-link'}}Cancel{{/link-to}}
    </div>
  </form>
</div>

