<div class="wh-start">
  <div class="wh-logo"></div>
  <h1>Start from a theme</h1>
  <p class="wh-themes-desc">
    Site templates automatically install the forms and templates needed to jump start your project.
    Can't find what you're looking for? You can still {{#link-to 'wh.content'}}Start from scratch{{/link-to}}.
  </p>

  {{#if isSending}}
  <div class="wy-spinner wy-spinner-large"></div>
  {{else}}
  <ul class="wh-themes">
    {{#each theme in themes}}
    <li>
      <a href="" {{ action downloadPreset theme }}>
        <h5>{{theme.name}}</h5>
        <img {{bind-attr src="theme.image"}} />
        <p>
          {{theme.description}}
        </p>
      </a>
    </li>
    {{/each}}
  </ul>
  {{/if}}

</div>

