<div class="wh-start">
  <div class="wh-logo"></div>

  {{#if buildEnvironment.local}}
    <h1>{{t 'theme.title'}}</h1>
    <p class="wh-themes-desc">{{t 'theme.instruction'}}</p>

    {{#if isSending}}
      <div class="wy-spinner wy-spinner-large"></div>
    {{else}}

      <ul class="wh-themes">
        <li class="wh-themes-custom">
          <h5>{{t 'theme.upload.title'}}</h5>

          {{#if error}}
            <div class="wy-alert wy-alert-warning">
              <div class="wy-alert-title">{{t 'theme.error'}}</div>
              {{error.message}}
            </div>
          {{/if}}

          <div class="wy-control-group">
          <label>{{t 'theme.upload.label'}}</label>
            <div class="wy-control">
              {{#select-file action='localThemeSelected' class="icon icon-file-zip" accept="application/zip"}} {{t 'theme.upload.action'}}{{/select-file}}
            </div>
          </div>
          <hr/>
          <h5>Load remote theme</h5>
          <div class="wy-control-group">
            <label>{{t 'theme.url.label'}}</label>
            <div class="wy-control">
              {{input type="text" placeholder="http://site.com/theme.zip" class="full-width" value=customUrl}}
            </div>
          </div>

          <button class="btn btn-neutral icon icon-rocket" {{ action downloadCustom }}> {{t 'theme.url.action'}}</button>


        </li>
        {{#each theme in themes}}
        <li>
            <h5>{{theme.name}}</h5>
            <img {{bind-attr src="theme.image"}} />
            <p class="wh-theme-desc">
              {{theme.description}}
            </p>

            {{#if theme.demo}}<a class="btn btn-small btn-neutral" {{ bind-attr href=theme.demo }} target="_blank">{{t 'theme.demo'}}</a>{{/if}}
            <a class="btn btn-small btn-neutral" {{ bind-attr href=theme.code }} target="_blank">GitHub</a>
            <button class="btn btn-small btn-neutral" {{ action downloadPreset theme }}>{{t 'theme.install'}}</button>
        </li>
        {{/each}}
      </ul>

    {{/if}}
  {{else}}
    <p class="wh-themes-desc">{{t 'theme.localWarning'}}</p>
  {{/if}}
</div>
