<div class="wh-start">
  <div class="wh-logo"></div>
  <h1>Start from a theme</h1>
  <p class="wh-themes-desc">
    Site templates automatically install the forms, static files and templates needed to jump start your project.
    Can't find what you're looking for? You can still {{#link-to 'wh.content'}}Start from scratch{{/link-to}}.
    Interested in making your own theme, <a href="http://www.webhook.com/docs/creating-a-theme/">read the docs here</a>.
  </p>

  {{#if isSending}}
    <div class="wy-spinner wy-spinner-large"></div>
  {{else}}

    <ul class="wh-themes">
      <li class="wh-themes-custom">
        <h5>Custom theme</h5>
        {{#if error}}
          <div class="wy-alert wy-alert-warning">
            <div class="wy-alert-title">Whoops</div>
            {{error.message}}
          </div>
        {{/if}}
        <div class="wy-control-group">
          <label>Location of theme's zip file</label>
          <div class="wy-control">
            {{input type="text" placeholder="http://site.com/theme.zip" class="full-width" value=customUrl}}
          </div>
        </div>
        <button class="btn btn-neutral icon icon-rocket" {{ action downloadCustom }}> Load this custom theme</button>

      </li>
      {{#each theme in themes}}
      <li>
          <h5>{{theme.name}}</h5>
          <img {{bind-attr src="theme.image"}} />
          <p class="wh-theme-desc">
            {{theme.description}}
          </p>

          <a class="btn btn-small btn-neutral" {{ bind-attr href=theme.demo }} target="_blank">Demo</a>
          <a class="btn btn-small btn-neutral" {{ bind-attr href=theme.code }} target="_blank">Github</a>
          <button class="btn btn-small btn-neutral" {{ action downloadPreset theme }}>Install</button>
      </li>
      {{/each}}
    </ul>


  {{/if}}
</div>

